* {outline:1px solid brown} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

:root {
    --mc:#FAAE67;
    --sc:#D65490;
    --lc:#f7f7f7;
    --dc:#444444;
    --gc:#dddddd;
    --br:#999999;
    --bg:#F2F0F5;
}

html {font-size:20px;background:#F2F0F5;}
body {font-size:0.8rem;color:var(--dc);font-weight:300;}

#wrap {min-width:95rem;}

#header h1 {position:fixed;top:3rem;left:3rem;z-index:999;}
#header h1 a {display:block;width:15rem;}
#header .h_top {position:fixed;top:0;right:0;width:100%;height:4rem;z-index:998;background:var(--bg);border-bottom:1px solid var(--br);}
#header .h_top::before {content:"";display:block;position:absolute;top:0;left:0;width:5%;height:4rem;}
#header .h_top::after {content:"";display:block;position:absolute;top:0;right:0;width:5%;height:4rem;}

#header .h_top .fixed_stoke {width:5%;height:4rem;}
#header .h_top .fixed_stoke_r {width:5%;height:4rem;float:right;}
#header .top .top_l {width:85%;}
#header .top .top_r {width:15%;}
.top {display:block;width:100%;height:4rem;font-size:0;border-bottom:1px solid var(--br);}
.intro_stoke {display:flex;}

#header nav {position:fixed;top:3.6%;right:3rem;transform:translateY(-50%);z-index:999;}
#header nav ul {display:flex;padding-right:0.75rem;}
#header nav ul>li {position:relative;padding:0 1rem;font-size:0.85rem;font-weight:300;color:var(--br);text-transform:uppercase;}
#header nav ul>li.on {font-weight:500;color:var(--dc);}
#header nav ul>li.on::after {content:"";display:block;width:3rem;height:2px;position:absolute;bottom:-0.75rem;left:50%;transform:translateX(-50%);
background:var(--dc);}
#header .cover_btn {position:fixed;top:1.8%;left:1.2rem;z-index:999;padding:0.5rem;background:var(--dc);cursor:pointer;
color:var(--lc);}
#header .cover_btn i {font-size:1.5rem;position: relative;}
#header .cover_btn.on {background:var(--lc);color:var(--dc);}

.section img {max-width:100%;}
.date {font-size:0.8rem;}

/* ----------------------------------------------- 섹션 1 인트로 ----------------------------------------------- */


.intro {position:relative;border-bottom:1px solid var(--br);}
.intro .top {border:none;}
.intro .left {position:absolute;top:42%;left:5%;transform:translateY(-50%);width:35%;}
.intro .left h2 {font-size:3rem;font-weight:600;line-height:3.7rem;font-family: 'Noto Serif KR', serif;}
.intro .left p {font-size:1.2rem;font-weight:300;margin-top:1rem;}

.intro .center {position:absolute;top:52%;right:5%;transform:translateY(-50%);width:50%;padding:1rem 0 1rem 1rem;}

.intro .right {width:5%;height:calc(100vh - 4rem);}

.intro .bottom {position:absolute;bottom:9%;left:5%;transform:translateY(-50%);}
.intro .bottom i {font-size:1.2rem;}
.intro .bottom .xi-external-link {font-size:1rem;}
.intro .bottom ul>li {font-size:1rem;line-height:1.6rem;}
.intro .bottom .link {font-size:0.8rem;color:var(--br);}

/* ----------------------------------------------- 섹션 2 포폴1 ----------------------------------------------- */


.portfolio_01 {position:relative;display:flex;border-bottom:1px solid var(--br);}
.portfolio_01 .link {display:block;font-size:0.6rem;line-height:1.5rem;}

.portfolio_01 .pf_l {position:absolute;width:5%;height:100vh;top:0;left:0;
border-right:1px solid var(--br);}
.portfolio_01 .pf_l_t {width:5%;height:calc(100vh - 4rem);}

.portfolio_01 .pf_c {position:relative;width:65%;height:calc(100vh - 4rem);overflow:hidden;}
.portfolio_01 .pf_c figure img {transition:2.5s;}
.portfolio_01 .pf_c figure:hover img {transform:translateY(calc(-100% + 100vh - 14rem));} 

.portfolio_01 .pf_c_b {display:flex;position:absolute;bottom:0;left:0;width:100%;height:10rem;
border-top:1px solid var(--br);line-height:1.1rem;z-index:999;background:var(--bg);}

.portfolio_01 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
.portfolio_01 .pf_c_b .first {width:33.3%;height:10rem;}
.portfolio_01 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
.portfolio_01 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}

.portfolio_01 .pf_r {display:flex;width:30%;height:calc(100vh - 4rem);border-left:1px solid var(--br);}
.portfolio_01 .pf_r .pf_r_t {width:100%;margin:4rem 0;}
.portfolio_01 .pf_r .pf_r_t .txt {width:68%;margin:0 auto;line-height:1.3rem;text-align:right;}
.portfolio_01 .pf_r .pf_r_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
.portfolio_01 .pf_r .pf_r_t h3 {font-size:0.9rem;font-weight:400;line-height:1.8rem;}
.portfolio_01 .pf_r .pf_r_t span {font-weight:300;margin-left:0.5rem;}


.portfolio_01 .pf_r .pf_r_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;right:0;width:30%;height:20rem;
border-top:1px solid var(--br);}
.portfolio_01 .pf_r_b .color {width:50%;height:10rem;padding:1rem;border-left:1px solid var();}
.portfolio_01 .pf_r_b .txt {font-size:1rem;line-height:1.3rem;}
.portfolio_01 .pf_r_b .code {font-size:0.9rem;line-height:1rem;}


.portfolio_01 .r_b_01 {border-right:1px solid var(--br);border-bottom:1px solid var(--br);background:#009c84;color:var(--lc);}
.portfolio_01 .r_b_02 {border-bottom:1px solid var(--br);background:#fff;color:#111;}
.portfolio_01 .r_b_03 {border-right:1px solid var(--br);background:#ed6d01;color:var(--lc);}
.portfolio_01 .r_b_04 {background:#000;color:var(--lc);}

/* ----------------------------------------------- 섹션 3 포폴2 ----------------------------------------------- */

.portfolio_02 {position:relative;display:flex;border-bottom:1px solid var(--br);}
.portfolio_02 .link {display:block;font-size:0.6rem;line-height:1.5rem;}

.portfolio_02 .pf_l {display:flex;width:30%;height:calc(100vh - 4rem);border-right:1px solid var(--br);}
.portfolio_02 .pf_l .pf_l_t {width:100%;margin:4rem 0;}
.portfolio_02 .pf_l .pf_l_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
.portfolio_02 .pf_l .pf_l_t h3 {font-size:0.95rem;font-weight:400;line-height:1.8rem;}
.portfolio_02 .pf_l .pf_l_t span {font-weight:300;margin-left:0.5rem;}
.portfolio_02 .pf_l .txt {width:68%;margin:0 auto;line-height:1.3rem;}

.portfolio_02 .pf_l .pf_l_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;left:0;
width:30%;height:20rem;border-top:1px solid var(--br);border-right:1px solid var(--br);}
.portfolio_02 .pf_l_b .color {width:50%;height:10rem;padding:1rem;font-size:1rem;}
.portfolio_02 .pf_l_b .txt_ {font-size:1rem;line-height:1.3rem;}
.portfolio_02 .pf_l_b .code {font-size:0.9em;line-height:1rem;}

.portfolio_02 .l_b_01 {border-right:1px solid var(--br);border-bottom:1px solid var(--br);
background:#63abf5;color:#fff;}
.portfolio_02 .l_b_02 {border-bottom:1px solid var(--br);background:#ffff00;color:#111;}
.portfolio_02 .l_b_03 {background:#ff0000;color:#fff;}
.portfolio_02 .l_b_04 {background:#ffffff;color:#111;}

.portfolio_02 .pf_c {position:relative;width:65%;height:calc(100vh - 4rem);overflow:hidden;}
.portfolio_02 .pf_c figure img {transition:2s;}
.portfolio_02 .pf_c figure:hover img {transform:translateY(calc(-100% + 100vh - 14rem));} 

.portfolio_02 .pf_c_b {display:flex;position:absolute;bottom:0;right:5%;width:65%;height:10rem;
border-top:1px solid var(--br);line-height:1.1rem;background:var(--bg);}

.portfolio_02 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
.portfolio_02 .pf_c_b .first {width:33.3%;height:10rem;}
.portfolio_02 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
.portfolio_02 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}

.portfolio_02 .pf_r {position:absolute;width:5%;height:calc(100vh - 4rem);bottom:0;right:0;
border-left:1px solid var(--br);}
.portfolio_02 .pf_r_t {width:5%;height:calc(100vh - 4rem);}    

/* ----------------------------------------------- 섹션 4 포폴3 ----------------------------------------------- */


.portfolio_03 {position:relative;display:flex;border-bottom:1px solid var(--br);}
.portfolio_03 .link {display:block;font-size:0.6rem;line-height:1.5rem;}

.portfolio_03 .pf_l {position:absolute;width:5%;height:100vh;top:0;left:0;
border-right:1px solid var(--br);}
.portfolio_03 .pf_l_t {width:5%;height:calc(100vh - 4rem);}

.portfolio_03 .pf_c {position:relative;width:65%;height:calc(100vh - 4rem);overflow:hidden;}
.portfolio_03 .pf_c figure {height:calc(100vh - 4rem);overflow:hidden;}
.portfolio_03 .pf_c figure img {transition:2.5s;}
.portfolio_03 .pf_c figure:hover img {transform:translateY(calc(-100% + 100vh - 14rem));} 

.portfolio_03 .pf_c_b {display:flex;position:absolute;bottom:0;left:5%;width:65%;height:10rem;
border-top:1px solid var(--br);line-height:1.1rem;background:var(--bg);}

.portfolio_03 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
.portfolio_03 .pf_c_b .first {width:33.3%;height:10rem;}
.portfolio_03 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
.portfolio_03 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}


.portfolio_03 .pf_r {display:flex;width:30%;height:calc(100vh - 4rem);border-left:1px solid var(--br);}
.portfolio_03 .pf_r .pf_r_t {width:100%;margin:4rem 0;}
.portfolio_03 .pf_r .pf_r_t .txt {width:68%;margin:0 auto;line-height:1.3rem;text-align:right;}
.portfolio_03 .pf_r .pf_r_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
.portfolio_03 .pf_r .pf_r_t h3 {font-size:0.95rem;font-weight:400;line-height:1.8rem;}
.portfolio_03 .pf_r .pf_r_t span {font-weight:300;margin-left:0.5rem;}

.portfolio_03 .pf_r .pf_r_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;right:0;width:30%;height:20rem;
border-top:1px solid var(--br);}
.portfolio_03 .pf_r_b .color {width:50%;height:10rem;padding:1rem;font-size:1rem;border-left:1px solid var(--br);}
.portfolio_03 .pf_r_b .txt_ {font-size:1rem;line-height:1.3rem;}
.portfolio_03 .pf_r_b .code {font-size:0.8rem;line-height:1rem;}

.portfolio_03 .r_b_01 {border-bottom:1px solid var(--br);background:#1a256a;color:var(--lc);}
.portfolio_03 .r_b_02 {border-bottom:1px solid var(--br);background:#ffff00;color:#111;}
.portfolio_03 .r_b_03 {background:#dddddd;color:#111;}
.portfolio_03 .r_b_04 {background:#ffffff;color:#111;}

/* ----------------------------------------------- 섹션 5 포폴4 ----------------------------------------------- */

.portfolio_04 {position:relative;display:flex;border-bottom:1px solid var(--br);}
.portfolio_04 .link {display:block;font-size:0.6rem;line-height:1.5rem;}

.portfolio_04 .pf_l {display:flex;width:30%;height:calc(100vh - 4rem);border-right:1px solid var(--br);}
.portfolio_04 .pf_l .pf_l_t {width:100%;margin:4rem 0;}
.portfolio_04 .pf_l .pf_l_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
.portfolio_04 .pf_l .pf_l_t h3 {font-size:1rem;font-weight:400;line-height:1.8rem;}
.portfolio_04 .pf_l .pf_l_t span {font-weight:300;margin-left:0.5rem;}
.portfolio_04 .pf_l .txt {width:68%;margin:0 auto;line-height:1.3rem;}

.portfolio_04 .pf_l .pf_l_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;left:0;
width:30%;height:20rem;border-top:1px solid var(--br);}
.portfolio_04 .pf_l_b .color {width:50%;height:10rem;padding:1rem;font-size:1rem;border-right:1px solid var(--br);
color:#fff;}

.portfolio_04 .l_b_01 {border-right:1px solid var(--br);border-bottom:1px solid var(--br);
background:#30b59e;}
.portfolio_04 .l_b_02 {border-bottom:1px solid var(--br);background:#fff;color:#111;}
.portfolio_04 .l_b_02 p {color:#111;}
.portfolio_04 .l_b_03 {border-right:1px solid var(--br);background:#000;}
.portfolio_04 .l_b_04 {background:#45bda8;}

.portfolio_04 .pf_l_b .txt_ {font-size:1rem;line-height:1.3rem;}
.portfolio_04 .pf_l_b .code {font-size:0.8rem;line-height:1rem;}

.portfolio_04 .pf_c {position:relative;width:65%;height:calc(100vh - 14rem);overflow:hidden;}
.portfolio_04 .pf_c figure {height:calc(100vh - 14rem);overflow:hidden;}
.portfolio_04 .pf_c figure img {transition:2s;}
.portfolio_04 .pf_c figure:hover img {transform:translateY(calc(-100% + 100vh - 14rem));} 

.portfolio_04 .pf_c_b {display:flex;position:absolute;bottom:0;right:5%;width:65%;height:10rem;background:var(--bg);
border-top:1px solid var(--br);line-height:1.1rem;}

.portfolio_04 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}

.portfolio_04 .pf_c_b .first {width:33.3%;height:10rem;}
.portfolio_04 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
.portfolio_04 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}

.portfolio_04 .pf_r {position:absolute;width:5%;height:calc(100vh - 4rem);bottom:0;right:0;
border-left:1px solid var(--br);}
.portfolio_04 .pf_r_t {width:5%;height:calc(100vh - 4rem);}    

/* ----------------------------------------------- 섹션 6 트레이닝 ----------------------------------------------- */

.Training {position:relative;display:flex;border-bottom:1px solid var(--br);}
.Training .top {position:absolute;top:0;left:0;}
.Training h3 {font-size:3rem;font-weight:600;font-family: 'Noto Serif KR', serif;text-align:left;
    position:absolute;top:15%;left:5%;}
.Training .box {display:flex;width:100%;height:calc(100vh - 5rem);border:1px solid #ff0;}
.Training .t_txt {position:absolute;bottom:19%;left:5%;}
.Training .t_txt p {font-size:0.95rem;font-weight:300;line-height:1.5rem;}

.Training ul {position:absolute;top:28%;left:5%;}
.Training ul>li {font-size:1.2rem;font-weight:300;padding:1rem 10rem 1rem 1.5rem;margin:1rem 0;background:var(--lc);
color:var(--dc);border-radius:3rem;line-height:1.2rem;}


.main_slider {position:absolute;bottom:2%;right:0;width:60%;}
.main_slider figure {padding:0 1rem;position:relative;}
.main_slider figure::after {content:"";position:absolute;left:1rem;bottom:-6.6rem;background:var(--br);
width:1px;height:13rem;}
.main_slider figure h2 {font-weight:500;font-size:1.2rem;margin:1rem 0 0.5rem 0;}
.main_slider figure a {display:block;font-size:0.9rem;}
.main_slider figure .link {display:block;font-size:0.9rem;padding-bottom:7rem;}


/* ----------------------------------------------- 섹션 7 프로필 ----------------------------------------------- */

.profile {position:relative;display:flex;border-bottom:1px solid var(--br);}
.profile .pf_sl {position:absolute;width:5%;height:100vh;top:0;left:0;border-right:1px solid var(--br);}
.profile .pf_l_t {width:5%;height:calc(100vh - 4rem);}

.profile .pr_l {position:relative;width:100%;height:calc(100vh - 30rem);}
.profile .p_b_l ul>li {font-size:0.85rem;line-height:1.2rem;}
.profile .pr_l p {font-size:0.85rem;}
.profile .pr_l h2 {font-size:2.3rem;font-weight:600;font-family:'Noto Serif KR', serif;line-height:3.2rem;margin-top:0.2rem;}
.pr_txt {margin:8rem 10rem;}
.pr_txt h2 {line-height:4rem;}

.profile .p_b {display:flex;width:70rem;height:10rem;margin:0rem auto auto 10rem;}
.profile .p_b_l {width:25%;border-right:1px solid var(--br);}
.profile .p_b_l ul>li {line-height:1.4rem;font-size:0.9rem;}
.profile .p_b_l i {font-size:1rem;}

.profile h3 {font-size:1.2rem;font-weight:500;margin-bottom:1rem;}
.profile .p_b_c {width:30%;margin-left:1.5rem;}
.profile .p_b_c ul {display:flex}
.profile .p_b_c ul>li {font-size:2rem;letter-spacing:5px}

.profile .p_b_r {width:45%;padding-left:1.5rem;border-left:1px solid var(--br);line-height:1.3rem;font-size:0.85rem;}

#cover {display:none;position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);width:100%;height:100vh;
z-index:998;}
#cover ul {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:var(--dc);
font-size:1.2rem;font-weight:300;line-height:1.5;text-align:center;background:var(--lc);padding:5rem;border-radius:50%;}
    
















/* --------------------------- 여기서부터 반응형  ---------------------------  */











@media (max-width:768px) {
    html {font-size:16px;background:#F2F0F5;}
    body {font-size:0.8rem;color:var(--dc);font-weight:300;}
    #wrap {min-width:auto;}
    
    #header h1 {position:fixed;top:3rem;left:3rem;z-index:999;}
    #header h1 a {display:block;width:15rem;}
    #header .h_top {display:none;position:fixed;top:0;right:0;width:100%;height:4rem;z-index:998;background:var(--bg);border-bottom:1px solid var(--br);}
    #header .h_top::before {content:"";display:block;position:absolute;top:0;left:0;width:5%;height:4rem;}
    #header .h_top::after {content:"";display:block;position:absolute;top:0;right:0;width:5%;height:4rem;}
    
    #header .h_top .fixed_stoke {width:5%;height:4rem;}
    #header .h_top .fixed_stoke_r {width:5%;height:4rem;float:right;}
    #header .top .top_l {width:85%;}
    #header .top .top_r {width:15%;}
    .top {display:block;width:100%;height:4rem;font-size:0;border-bottom:1px solid var(--br);}
    .intro_stoke {display:flex;}
    
    #header nav {position:fixed;top:3.6%;right:3rem;transform:translateY(-50%);z-index:999;}
    #header nav ul {display:flex;padding-right:0.75rem;}
    #header nav ul>li {position:relative;padding:0 1rem;font-size:0.85rem;font-weight:300;color:var(--br);text-transform:uppercase;}
    #header nav ul>li.on {font-weight:500;color:var(--dc);}
    #header nav ul>li.on::after {content:"";display:block;width:3rem;height:2px;position:absolute;bottom:-0.75rem;left:50%;transform:translateX(-50%);
    background:var(--dc);}
    #header .cover_btn {position:fixed;top:1.8%;left:1.2rem;z-index:999;padding:0.5rem;background:var(--dc);cursor:pointer;
    color:var(--lc);}
    #header .cover_btn i {font-size:1.5rem;position: relative;}
    #header .cover_btn i.on {background:var(--lc);color:var(--dc);}
    
    .section img {max-width:100%;}
    .date {font-size:0.8rem;}
    
    /* ----------------------------------------------- 섹션 1 인트로 ----------------------------------------------- */
    
    
    .intro {position:relative;border-bottom:1px solid var(--br);}
    .intro .top {border:none;}
    .intro .left {position:absolute;top:58%;left:12%;transform:translateY(-50%);width:80%;}
    .intro .left h2 {font-size:3rem;font-weight:600;line-height:3.7rem;font-family: 'Noto Serif KR', serif;}
    .intro .left p {font-size:1.2rem;font-weight:300;margin-top:1rem;}
    
    .intro .center {position:absolute;top:30%;left:12%;transform:translateY(-50%);width:80%;padding:0;}
    
    .intro .right {width:5%;height:calc(100vh - 4rem);}
    
    .intro .bottom {position:absolute;bottom:13%;left:12%;transform:translateY(-50%);}
    .intro .bottom i {font-size:2rem;}
    .intro .bottom .xi-external-link {font-size:1rem;}
    .intro .bottom ul>li {font-size:1.2rem;line-height:1.6rem;}
    .intro .bottom .link {font-size:0.6rem;color:var(--br);}
    
    /* ----------------------------------------------- 섹션 2 포폴1 ----------------------------------------------- */
    
    
    .portfolio_01 {position:relative;display:flex;border-bottom:1px solid var(--br);}
    .portfolio_01 .link {display:block;font-size:0.6rem;line-height:1.5rem;}
    
    .portfolio_01 .pf_l {position:absolute;width:5%;height:100vh;top:0;left:0;
    border-right:1px solid var(--br);}
    .portfolio_01 .pf_l_t {width:5%;height:calc(100vh - 4rem);}
    
    .portfolio_01 .pf_c {position:relative;width:65%;height:calc(100vh - 4rem);overflow:hidden;}
    .portfolio_01 .pf_c figure img {transition:2.5s;}
    .portfolio_01 .pf_c figure:hover img {transform:translateY(-72.2%);top:100%;} 
    
    .portfolio_01 .pf_c_b {display:flex;position:absolute;bottom:0;left:0;width:100%;height:10rem;
    border-top:1px solid var(--br);line-height:1.1rem;z-index:999;background:var(--bg);}
    
    .portfolio_01 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
    .portfolio_01 .pf_c_b .first {width:33.3%;height:10rem;}
    .portfolio_01 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    .portfolio_01 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    
    .portfolio_01 .pf_r {display:flex;width:30%;height:calc(100vh - 4rem);border-left:1px solid var(--br);}
    .portfolio_01 .pf_r .pf_r_t {width:100%;margin:4rem 0;}
    .portfolio_01 .pf_r .pf_r_t .txt {width:68%;margin:0 auto;line-height:1.3rem;text-align:right;}
    .portfolio_01 .pf_r .pf_r_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
    .portfolio_01 .pf_r .pf_r_t h3 {font-size:0.9rem;font-weight:400;line-height:1.8rem;}
    .portfolio_01 .pf_r .pf_r_t span {font-weight:300;margin-left:0.5rem;}
    
    
    .portfolio_01 .pf_r .pf_r_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;right:0;width:30%;height:20rem;
    border-top:1px solid var(--br);}
    .portfolio_01 .pf_r_b .color {width:50%;height:10rem;padding:1rem;border-left:1px solid var();}
    .portfolio_01 .pf_r_b .txt {font-size:1rem;line-height:1.3rem;}
    .portfolio_01 .pf_r_b .code {font-size:0.9rem;line-height:1rem;}
    
    
    .portfolio_01 .r_b_01 {border-right:1px solid var(--br);border-bottom:1px solid var(--br);background:#009c84;color:var(--lc);}
    .portfolio_01 .r_b_02 {border-bottom:1px solid var(--br);background:#fff;color:#111;}
    .portfolio_01 .r_b_03 {border-right:1px solid var(--br);background:#ed6d01;color:var(--lc);}
    .portfolio_01 .r_b_04 {background:#000;color:var(--lc);}
    
    /* ----------------------------------------------- 섹션 3 포폴2 ----------------------------------------------- */
    
    .portfolio_02 {position:relative;display:flex;border-bottom:1px solid var(--br);}
    .portfolio_02 .link {display:block;font-size:0.6rem;line-height:1.5rem;}
    
    .portfolio_02 .pf_l {display:flex;width:30%;height:calc(100vh - 4rem);border-right:1px solid var(--br);}
    .portfolio_02 .pf_l .pf_l_t {width:100%;margin:4rem 0;}
    .portfolio_02 .pf_l .pf_l_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
    .portfolio_02 .pf_l .pf_l_t h3 {font-size:0.95rem;font-weight:400;line-height:1.8rem;}
    .portfolio_02 .pf_l .pf_l_t span {font-weight:300;margin-left:0.5rem;}
    .portfolio_02 .pf_l .txt {width:68%;margin:0 auto;line-height:1.3rem;}
    
    .portfolio_02 .pf_l .pf_l_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;left:0;
    width:30%;height:20rem;border-top:1px solid var(--br);border-right:1px solid var(--br);}
    .portfolio_02 .pf_l_b .color {width:50%;height:10rem;padding:1rem;font-size:1rem;}
    .portfolio_02 .pf_l_b .txt_ {font-size:1rem;line-height:1.3rem;}
    .portfolio_02 .pf_l_b .code {font-size:0.9em;line-height:1rem;}
    
    .portfolio_02 .l_b_01 {border-right:1px solid var(--br);border-bottom:1px solid var(--br);
    background:#63abf5;color:#fff;}
    .portfolio_02 .l_b_02 {border-bottom:1px solid var(--br);background:#ffff00;color:#111;}
    .portfolio_02 .l_b_03 {background:#ff0000;color:#fff;}
    .portfolio_02 .l_b_04 {background:#ffffff;color:#111;}
    
    .portfolio_02 .pf_c {position:relative;width:65%;height:calc(100vh - 4rem);overflow:hidden;}
    .portfolio_02 .pf_c figure img {transition:2s;}
    .portfolio_02 .pf_c figure:hover img {transform:translateY(-70.8%);top:100%;}
    
    .portfolio_02 .pf_c_b {display:flex;position:absolute;bottom:0;right:5%;width:65%;height:10rem;
    border-top:1px solid var(--br);line-height:1.1rem;background:var(--bg);}
    
    .portfolio_02 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
    .portfolio_02 .pf_c_b .first {width:33.3%;height:10rem;}
    .portfolio_02 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    .portfolio_02 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    
    .portfolio_02 .pf_r {position:absolute;width:5%;height:calc(100vh - 4rem);bottom:0;right:0;
    border-left:1px solid var(--br);}
    .portfolio_02 .pf_r_t {width:5%;height:calc(100vh - 4rem);}    
    
    /* ----------------------------------------------- 섹션 4 포폴3 ----------------------------------------------- */
    
    
    .portfolio_03 {position:relative;display:flex;border-bottom:1px solid var(--br);}
    .portfolio_03 .link {display:block;font-size:0.6rem;line-height:1.5rem;}
    
    .portfolio_03 .pf_l {position:absolute;width:5%;height:100vh;top:0;left:0;
    border-right:1px solid var(--br);}
    .portfolio_03 .pf_l_t {width:5%;height:calc(100vh - 4rem);}
    
    .portfolio_03 .pf_c {position:relative;width:65%;height:calc(100vh - 4rem);overflow:hidden;}
    .portfolio_03 .pf_c figure {height:calc(100vh - 4rem);overflow:hidden;}
    .portfolio_03 .pf_c figure img {transition:2.5s;}
    .portfolio_03 .pf_c figure:hover img {transform:translateY(-74.4%);top:100%;}
    
    .portfolio_03 .pf_c_b {display:flex;position:absolute;bottom:0;left:5%;width:65%;height:10rem;
    border-top:1px solid var(--br);line-height:1.1rem;background:var(--bg);}
    
    .portfolio_03 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
    .portfolio_03 .pf_c_b .first {width:33.3%;height:10rem;}
    .portfolio_03 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    .portfolio_03 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    
    
    .portfolio_03 .pf_r {display:flex;width:30%;height:calc(100vh - 4rem);border-left:1px solid var(--br);}
    .portfolio_03 .pf_r .pf_r_t {width:100%;margin:4rem 0;}
    .portfolio_03 .pf_r .pf_r_t .txt {width:68%;margin:0 auto;line-height:1.3rem;text-align:right;}
    .portfolio_03 .pf_r .pf_r_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
    .portfolio_03 .pf_r .pf_r_t h3 {font-size:0.95rem;font-weight:400;line-height:1.8rem;}
    .portfolio_03 .pf_r .pf_r_t span {font-weight:300;margin-left:0.5rem;}
    
    .portfolio_03 .pf_r .pf_r_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;right:0;width:30%;height:20rem;
    border-top:1px solid var(--br);}
    .portfolio_03 .pf_r_b .color {width:50%;height:10rem;padding:1rem;font-size:1rem;border-left:1px solid var(--br);}
    .portfolio_03 .pf_r_b .txt_ {font-size:1rem;line-height:1.3rem;}
    .portfolio_03 .pf_r_b .code {font-size:0.8rem;line-height:1rem;}
    
    .portfolio_03 .r_b_01 {border-bottom:1px solid var(--br);background:#1a256a;color:var(--lc);}
    .portfolio_03 .r_b_02 {border-bottom:1px solid var(--br);background:#ffff00;color:#111;}
    .portfolio_03 .r_b_03 {background:#dddddd;color:#111;}
    .portfolio_03 .r_b_04 {background:#ffffff;color:#111;}
    
    /* ----------------------------------------------- 섹션 5 포폴4 ----------------------------------------------- */
    
    .portfolio_04 {position:relative;display:flex;border-bottom:1px solid var(--br);}
    .portfolio_04 .link {display:block;font-size:0.6rem;line-height:1.5rem;}
    
    .portfolio_04 .pf_l {display:flex;width:30%;height:calc(100vh - 4rem);border-right:1px solid var(--br);}
    .portfolio_04 .pf_l .pf_l_t {width:100%;margin:4rem 0;}
    .portfolio_04 .pf_l .pf_l_t h2 {font-size:1.8rem;font-weight:400;line-height:1.8rem;margin-bottom:1.2rem;}
    .portfolio_04 .pf_l .pf_l_t h3 {font-size:1rem;font-weight:400;line-height:1.8rem;}
    .portfolio_04 .pf_l .pf_l_t span {font-weight:300;margin-left:0.5rem;}
    .portfolio_04 .pf_l .txt {width:68%;margin:0 auto;line-height:1.3rem;}
    
    .portfolio_04 .pf_l .pf_l_b {position:absolute;display:flex;flex-wrap:wrap;bottom:0;left:0;
    width:30%;height:20rem;border-top:1px solid var(--br);}
    .portfolio_04 .pf_l_b .color {width:50%;height:10rem;padding:1rem;font-size:1rem;border-right:1px solid var(--br);
    color:#fff;}
    
    .portfolio_04 .l_b_01 {border-right:1px solid var(--br);border-bottom:1px solid var(--br);
    background:#30b59e;}
    .portfolio_04 .l_b_02 {border-bottom:1px solid var(--br);background:#fff;color:#111;}
    .portfolio_04 .l_b_02 p {color:#111;}
    .portfolio_04 .l_b_03 {border-right:1px solid var(--br);background:#000;}
    .portfolio_04 .l_b_04 {background:#45bda8;}
    
    .portfolio_04 .pf_l_b .txt_ {font-size:1rem;line-height:1.3rem;}
    .portfolio_04 .pf_l_b .code {font-size:0.8rem;line-height:1rem;}
    
    .portfolio_04 .pf_c {position:relative;width:65%;height:calc(100vh - 14rem);overflow:hidden;}
    .portfolio_04 .pf_c figure {height:calc(100vh - 14rem);overflow:hidden;}
    .portfolio_04 .pf_c figure img {transition:2s;}
    .portfolio_04 .pf_c figure:hover img {transform:translateY(-69%);top:100%;}
    
    .portfolio_04 .pf_c_b {display:flex;position:absolute;bottom:0;right:5%;width:65%;height:10rem;background:var(--bg);
    border-top:1px solid var(--br);line-height:1.1rem;}
    
    .portfolio_04 .pf_c_b .txt {padding:1rem;font-size:0.95rem;}
    
    .portfolio_04 .pf_c_b .first {width:33.3%;height:10rem;}
    .portfolio_04 .pf_c_b .second {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    .portfolio_04 .pf_c_b .third {width:33.3%;height:10rem;border-left:1px solid var(--br);}
    
    .portfolio_04 .pf_r {position:absolute;width:5%;height:calc(100vh - 4rem);bottom:0;right:0;
    border-left:1px solid var(--br);}
    .portfolio_04 .pf_r_t {width:5%;height:calc(100vh - 4rem);}    
    
    /* ----------------------------------------------- 섹션 6 트레이닝 ----------------------------------------------- */
    
    .Training {position:relative;display:flex;border-bottom:1px solid var(--br);}
    .Training .top {position:absolute;top:0;left:0;}
    .Training h3 {font-size:3rem;font-weight:600;font-family: 'Noto Serif KR', serif;text-align:left;
        position:absolute;top:15%;left:5%;}
    .Training .box {display:flex;width:100%;height:calc(100vh - 5rem);border:1px solid #ff0;}
    .Training .t_txt {position:absolute;bottom:19%;left:5%;}
    .Training .t_txt p {font-size:0.95rem;font-weight:300;line-height:1.5rem;}
    
    .Training ul {position:absolute;top:28%;left:5%;}
    .Training ul>li {font-size:1.2rem;font-weight:300;padding:1rem 10rem 1rem 1.5rem;margin:1rem 0;background:var(--lc);
    color:var(--dc);border-radius:3rem;line-height:1.2rem;}
    
    
    .main_slider {position:absolute;bottom:2%;right:0;width:60%;}
    .main_slider figure {padding:0 1rem;position:relative;}
    .main_slider figure::after {content:"";position:absolute;left:1rem;bottom:-6.6rem;background:var(--br);
    width:1px;height:13rem;}
    .main_slider figure h2 {font-weight:500;font-size:1.2rem;margin:1rem 0 0.5rem 0;}
    .main_slider figure a {display:block;font-size:0.9rem;}
    .main_slider figure .link {display:block;font-size:0.9rem;padding-bottom:7rem;}
    
    
    /* ----------------------------------------------- 섹션 7 프로필 ----------------------------------------------- */
    
    .profile {position:relative;display:flex;border-bottom:1px solid var(--br);}
    .profile .pf_sl {position:absolute;width:5%;height:100vh;top:0;left:0;border-right:1px solid var(--br);}
    .profile .pf_l_t {width:5%;height:calc(100vh - 4rem);}
    
    .profile .pr_l {position:relative;width:100%;height:calc(100vh - 30rem);}
    .profile .p_b_l ul>li {font-size:0.85rem;line-height:1.2rem;}
    .profile .pr_l p {font-size:0.85rem;}
    .profile .pr_l h2 {font-size:2.3rem;font-weight:600;font-family:'Noto Serif KR', serif;line-height:3.2rem;margin-top:0.2rem;}
    .pr_txt {margin:8rem 10rem;}
    .pr_txt h2 {line-height:4rem;}
    
    .profile .p_b {display:flex;width:70rem;height:10rem;margin:0rem auto auto 10rem;}
    .profile .p_b_l {width:25%;border-right:1px solid var(--br);}
    .profile .p_b_l ul>li {line-height:1.4rem;font-size:0.9rem;}
    .profile .p_b_l i {font-size:1rem;}
    
    .profile h3 {font-size:1.2rem;font-weight:500;margin-bottom:1rem;}
    .profile .p_b_c {width:30%;margin-left:1.5rem;}
    .profile .p_b_c ul {display:flex}
    .profile .p_b_c ul>li {font-size:2rem;letter-spacing:5px}
    
    .profile .p_b_r {width:45%;padding-left:1.5rem;border-left:1px solid var(--br);line-height:1.3rem;font-size:0.85rem;}
    
    #cover {display:none;position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);width:100%;height:100vh;
    z-index:998;}
    #cover ul {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:var(--dc);
    font-size:1.2rem;font-weight:300;line-height:1.5;text-align:center;background:var(--lc);padding:5rem;border-radius:50%;}
}
