@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);.nanumbrushscript * {
    font-family: 'Nanum Brush Script', cursive;
   }
   
   /*{outline:1px solid #f00;} */
   
html {font-size:20px;background:#f7f0da;}
body {font-size:0.8rem;}
   
#wrap {min-width:60rem}
   
.container {display:flex;width:60rem;margin:0 auto;}
.container>* {padding:0.75rem 0.75rem;}
   
   /* 헤더 */
   
#header {display:flex;justify-content:space-between;position:fixed;top:0;left:0;padding:0 2rem;line-height:4rem;color:#f2f2f2;
width:100%;min-width:9.5rem;z-index:999;border-bottom:1px solid #999;}
#header h1 img {width:12rem;}
#header:hover {background:#074c43;border-bottom:0px;}
#header.on {background:#074c43;border-bottom:0px;}
   
.gnb .leader_menu {display:flex;font-size:1rem;font-weight:500;}
.gnb .leader_menu>li>a {display:block;padding:0 3.05rem;}
.gnb .leader_menu>li {position:relative;}
   
.gnb:before {content:"";display:block;width:100%;height:0;background:#fff;position:absolute;top:4rem;left:0;z-index:1;
transition:0.4s;}
.gnb:hover:before {height:14rem;}
   
.gnb .sub_menu {height:0;overflow:hidden;position:absolute;top:4rem;left:0;width:100%;transition:0.4s;z-index:1;
font-size:0.8rem;font-weight:300;}
.gnb:hover .sub_menu {height:14rem;}
.gnb .sub_menu>li {position:relative;}
.gnb .sub_menu>li>a {display:block;line-height:2rem;text-align:center;color:#000;}
   
.right img {width:75%;}
   
   
   /* 메인 동영상 */
   
jb-box { width: 100%; height: 500px; overflow: hidden;margin: 0px auto; position: relative; }
video { width: 100%; }
   
   /* 브랜드 소개 */
   
#info {padding:7.5rem 0;}
#info .info_container {background:#fff;border:1px solid #ddd;position:relative;width:60rem;display:flex;padding:0.75rem 0;
margin:0 auto;}
#info .info_container figure {border-right:1px solid #ddd;padding:0 0.75rem 1rem 0.75rem;}
   
#info .bd01 {position:relative;}
.story01 {width:40rem;border-right:1px solid #ddd;}
   
.story01 {padding-left:0.75rem;}
.story01 h2 {font-size:1.5rem;line-height:2rem;color:#074c43;font-weight:700;position:relative;padding:0 0.75rem;}
.story01 h2:after {position:absolute;top:0.45rem;left:0;display:block;content:"";width:5px;height:1.3rem;background:#074c43;}
.story01::after {content:"";position:absolute;top:3.4rem;left:0;display:block;width:16.9rem;height:1px;background:#ddd;}
.story03 h3 {font-size:0.9rem;font-weight:500;}
.story03 strong {display:block;font-size:0.9rem;line-height:1rem;margin-top:1.2rem;}
.story03 span {color:#f26a25;font-weight:500;}
   
.story03 p {padding:0.75rem 0;line-height:1.3;}
   
#info .info_container h3 {padding:0.5rem 0;font-weight:500;font-size:0.9rem;}
#info .info_container p {padding:0.5rem 0 0 0;font-weight:300;line-height:1.2;}
   
/* 이벤트 */
   
#event {display:flex;text-align:center;}
#event h2 {font-size:1.1rem;line-height:2rem;}
#event .slogan strong {line-height:3rem;color:#fff;padding:0.5 1.5rem;outline:1px solid #fff;}
#event .slogan {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
#event .slogan i {padding:0 0 0 0.15rem;}
   
#event strong {padding:0.15rem 2rem;}
#event .left {width:50%;height:10rem;position:relative;color:#fff;overflow: hidden;}
#event .left .slogan p {line-height:1.2rem;}
#event .left_event {background:url(../img/event.png) no-repeat center center/cover;height:10rem;}
#event .left_event:hover {transform:scale(1.2);}
   
#event .right {width:50%;height:10rem;position:relative;color:#fff;overflow: hidden;}
#event .right_event {background:url(../img/event01.png) no-repeat center center/cover;height:10rem;}
#event .right_event:hover {transform:scale(1.2);}
   
/* 좋은 브랜드 */
   
#goodbread {padding:7.5rem 0;}
#goodbread .container {background:#fff;position:relative;border:1px solid #ddd;}
#goodbread .gb {width:60rem;margin:0 auto;padding:0 0.75rem;position:absolute;top:0.75rem;}
#goodbread h2 {font-size:1.5rem;line-height:2rem;color:#074c43;font-weight:700;position:relative;padding:0 0.75rem;}
#goodbread h2:after {position:absolute;top:0.4rem;left:0;display:block;content:"";width:5px;height:1.3rem;background:#074c43;}
   
#goodbread .left {max-width:17.5rem;border-right:1px solid #ddd;}
#goodbread .left p {padding:0.75rem 0;line-height:1.1rem;margin:2.2rem 0 1.5rem 0;}
#goodbread .left h3 {font-size:0.9rem;font-weight:500;}

#goodbread .left span {color:#f26a25;font-weight:500;}
#goodbread .left strong {display:block;font-size:0.9rem;line-height:1rem;}

#goodbread .right {display:flex;margin:auto;font-weight:300;line-height:1.1rem;margin-bottom:0.5rem;}
#goodbread .right figure {flex:1;}
#goodbread .right h3 {padding:0.5rem 0;font-weight:500;font-size:0.9rem;}
#goodbread .right p {margin-bottom:1rem;}

#goodbread .right .de01 {padding-right:0.75rem;border-right:1px solid #ddd;}
#goodbread .right .de02 {padding:0 0.75rem;border-right:1px solid #ddd;}
#goodbread .right .de03 {padding-left:0.75rem;}
#goodbread .right figure img {width:15rem;}

/* 신제품 소개 */
   
#product .pd {width:60rem;margin:0 auto;padding:0 0.75rem;}
#product .pd h2 {font-size:1.5rem;line-height:2rem;color:#074c43;font-weight:700;position:relative;padding:0 0.75rem;margin-bottom:1rem;}
#product .pd p {font-size:1rem;line-height:1.3;margin-bottom:2rem;}
#product h2:after {position:absolute;top:0.4rem;left:0;display:block;content:"";width:5px;height:1.3rem;background:#074c43;}
#product .itm {display:flex;text-align:center;}
    

#product figure {text-align:center;border-radius:50%;background:#fff;margin:1rem 0.75rem;}
#product figure img {width:100%;}
    
#product .itm01 {position:relative;}
#product .itm01 figure:hover:after {display:block;z-index:0;}
#product .itm01 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}

#product .itm01 a {display:none;z-index:-1;}
#product .itm01:hover a {display:block;}
#product .itm01 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
left:50%;transform:translate(-50%,0);z-index:1;}
#product .itm01 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);}
    
#product .itm02 {position:relative;}
#product .itm02 figure:hover:after {display:block;z-index:0;}
#product .itm02 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}

#product .itm02 a {display:none;}
#product .itm02:hover a {display:block;}
#product .itm02 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
left:50%;transform:translate(-50%,0);}
#product .itm02 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);z-index:1;}

#product .itm03 {position:relative;}
#product .itm03 figure:hover:after {display:block;z-index:0;}
#product .itm03 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}
#product .itm03 a {display:none;}
#product .itm03:hover a {display:block;}
#product .itm03 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
left:50%;transform:translate(-50%,0);}
#product .itm03 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);z-index:1;}

#product .itm04 {position:relative;}
#product .itm04 figure:hover:after {display:block;z-index:0;}
#product .itm04 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}
#product .itm04 a {display:none;}
#product .itm04:hover a {display:block;}
#product .itm04 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
left:50%;transform:translate(-50%,0);}
#product .itm04 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);z-index:1;}

/* 프랜차이즈 */
   
#franchise {padding:7.5rem 0 0 0;text-align:center;position:relative;color:#fff;}
   
#franchise figure {height:30rem;}
.auto .imgae1 {background:url(../img/franchise.png) no-repeat center center/cover;}
.auto .imgae2 {background:url(../img/franchise01.png) no-repeat center center/cover;}
   
#franchise .slogan {position:absolute;top:55%;left:50%;transform:translate(-50%,-50%);}
#franchise .slogan h2 {font-size:2.5rem;font-weight:300;font-family: 'Nanum Brush Script', cursive;position:relative;}
#franchise .slogan h2::after {display:block;content:"";width:1.5rem;height:0.15rem;background:#fff;position:absolute;
top:110%;left:50%;transform:translateX(-50%);}
#franchise .slogan p {margin-top:1.75rem;font-weight:300;line-height:1.1rem;}
#franchise .slogan strong {margin-top:2rem;position:absolute;
top:100%;left:50%;transform:translate(-50%,-50%);}
#franchise .slogan a {padding:0.15rem 1.6rem;border:1px solid #fff;}
   
#franchise .xe {font-size:2.5rem;}
#franchise .xi-angle-left-thin {position:absolute;top:55%;left:20%;}
#franchise .xi-angle-right-thin {position:absolute;top:55%;left:80%;}
   
/* 푸터 */
   
hr {border: 1px solid #999;}
   
footer {background:#202020;color:#fff;}
   
.tob {width:60rem;margin:0 auto;padding:0 0.75rem;}
.tob>ul>li {font-size:0.8rem;font-weight:300;}
.tob_ {display:flex;width:60rem;margin:0 auto;line-height:1.2rem;font-size:0.7rem;padding:0.75rem 0;}
   
.sub_tob01 {width:19rem;margin-right:0.75rem;line-height:1.5rem;padding:0 0.75rem;}
.deep_02>dl>dd {font-size:0.6rem;font-weight:100;line-height:1.2rem;}
.sub_footer {font-size:0.75rem;line-height:2em;}
   
.deep_03 {margin-top:1rem;}
.deep_03 h3 {font-size:0.5rem;font-weight:100;}
   
.tob_footer {display:flex;margin:0 auto;}
.tob_footer>li {padding:0 2rem 0 0;line-height:2.3rem;}
.tob_footer span {color:#f26a25;font-weight:500;}
   
   /* 푸터 - 1단 */
   
.sub_tob02 {width:19rem;margin:0 0.75rem;}
   
.deep_01>dl>dd {font-size:0.6rem;font-weight:100;line-height:1.2rem;}
.bottom_text {margin-top:1rem;line-height:2rem;}
   
/* 2단 왼쪽 푸터 */
   
.tob_text {font-size:1rem;font-weight:500;line-height:2;}
   
/* 2단 중간 푸터 */
   
.sub_tob03 {width:19rem;margin-left:0.75rem;}
.sub_tob03 .baker {margin-top:1rem;}
.sub_tob03>dl>dd {font-size:0.6rem;font-weight:100;line-height:1.2rem;}
.sub_tob03>dl>dt {font-size:0.75rem;line-height:2em;}

.mopen {display:none;}






   @media (max-width:768px){   
       html {font-size:14px;background:#f7f0da;}
       body {font-size:0.8rem;}
       
       hr {display:none;}

       #wrap {min-width:auto}
       
       .container {display:flex;width:auto;margin:0 auto;}
       .container>* {padding:0.75rem 0.75rem;}
       
       /* 헤더 */
       
       #header {display:flex;position:fixed;top:0;left:0;padding:0 0;line-height:4rem;color:#f2f2f2;
        width:100%;z-index:999;border-bottom:1px solid #999;}
       #header img {width:12rem;}
       #header:hover {background:#074c43;border-bottom:0px;}
       #header.on {background:transparent;}
       
       .gnb {position:fixed;top:0;left:-100%;width:calc(100% - 4.5rem);height:100vh;background:#d8534f;
      padding:7rem 1rem 0 1rem;transition:0.4s}
      .gnb.on {left:0;}

       .gnb .leader_menu {display:flex;justify-content:space-between;flex-direction:column;font-size:3vw;font-weight:500;}
       .gnb .leader_menu>li>a {display:block;padding:0 3.05rem;}
       .gnb .leader_menu>li {position:relative;}
       
       .gnb:before {content:"";display:block;width:100%;height:0;background:#fff;position:absolute;top:4rem;left:0;z-index:1;
       transition:0.4s;}
       .gnb:hover:before {height:14rem;}
       
       .gnb .sub_menu {height:0;overflow:hidden;position:absolute;top:4rem;left:0;width:100%;transition:0.4s;z-index:1;
       font-size:2vw;font-weight:300;flex-direction:column;}
       .gnb:hover .sub_menu {height:14rem;}
       .gnb .sub_menu>li {position:relative;}
       .gnb .sub_menu>li>a {display:block;line-height:2rem;text-align:center;color:#000;}
       
       .right img {width:auto;display:none;}
       
       
       /* 동영상 */
       
       jb-box { width: 100%; height: 500px; overflow: hidden;margin: 0px auto; position: relative; }
       video { width: 100%; }
       
       /* 브랜드 소개 */
       
       #info {padding:7.5rem 0;}
       #info .info_container {background:#fff;border:1px solid #ddd;position:relative;width:auto;display:flex;padding:0.75rem 0;
        margin:0 auto;}
       #info .info_container figure {border-right:1px solid #ddd;padding:0 0.75rem 1rem 0.75rem;}
       
       #info .bd01 {position:relative;}
    
       .story01 {width:40rem;border-right:1px solid #ddd;}
       
       .story01 {padding-left:0.75rem;}
       .story01 h2 {font-size:2.5vw;line-height:2rem;color:#074c43;font-weight:700;position:relative;padding:0 0.75rem;}
       .story01 h2:after {position:absolute;top:0.45rem;left:0;display:block;content:"";width:5px;height:1.3rem;background:#074c43;}
       .story01::after {content:"";position:absolute;top:3.4rem;left:0;display:block;width:auto;height:1px;background:#ddd;}
       .story03 h3 {font-size:2vw;font-weight:500;}
       .story03 strong {display:block;font-size:0.9rem;line-height:1rem;margin-top:1.2rem;}
       .story03 span {color:#f26a25;font-weight:500;}
       
       .story03 p {padding:0.75rem 0;line-height:1.3;}
       
       #info .info_container h3 {padding:0.5rem 0;font-weight:500;font-size:0.9rem;}
       #info .info_container p {padding:0.5rem 0 0 0;font-weight:300;line-height:1.2;}
       
       /* 이벤트 */
       
       #event {display:flex;text-align:center;}
       #event h2 {font-size:1.1rem;line-height:2rem;}
       #event .slogan strong {line-height:3rem;color:#fff;padding:0.5 1.5rem;outline:1px solid #fff;}
       #event .slogan {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
       #event .slogan i {padding:0 0 0 0.15rem;}
       
       #event strong {padding:0.15rem 2rem;}
       #event .left {width:50%;height:10rem;position:relative;color:#fff;overflow: hidden;}
       #event .left .slogan p {line-height:1.2rem;}
       #event .left_event {background:url(../img/event.png) no-repeat center center/cover;height:10rem;}
       #event .left_event:hover {transform:scale(1.2);}
       
       #event .right {width:50%;height:10rem;position:relative;color:#fff;overflow: hidden;}
       #event .right_event {background:url(../img/event01.png) no-repeat center center/cover;height:10rem;}
       #event .right_event:hover {transform:scale(1.2);}
       
       /* 좋은 브랜드 */
       
        #goodbread {padding:7.5rem 0;}
        #goodbread .container {background:#fff;position:relative;border:1px solid #ddd;}
        #goodbread .gb {width:auto;margin:0 auto;padding:0 0.75rem;position:absolute;top:0.75rem;}
        #goodbread h2 {font-size:1.5rem;line-height:2rem;color:#074c43;font-weight:700;position:relative;padding:0 0.75rem;}
        #goodbread h2:after {position:absolute;top:0.4rem;left:0;display:block;content:"";width:5px;height:1.3rem;background:#074c43;}
        
        #goodbread .left {max-width:auto;border-right:1px solid #ddd;}
        #goodbread .left p {padding:0.75rem 0;line-height:1.1rem;margin:2.2rem 0 1.5rem 0;}
        #goodbread .left h3 {font-size:0.9rem;font-weight:500;}
        
        #goodbread .left span {color:#f26a25;font-weight:500;}
        #goodbread .left strong {display:block;font-size:0.9rem;line-height:1rem;}
        
        #goodbread .right {display:flex;margin:auto;font-weight:300;line-height:1.1rem;margin-bottom:0.5rem;}
        #goodbread .right figure {flex:1;}
        #goodbread .right h3 {padding:0.5rem 0;font-weight:500;font-size:0.9rem;}
        #goodbread .right p {margin-bottom:1rem;}
        
        #goodbread .right .de01 {padding-right:0.75rem;border-right:1px solid #ddd;}
        #goodbread .right .de02 {padding:0 0.75rem;border-right:1px solid #ddd;}
        #goodbread .right .de03 {padding-left:0.75rem;}
        #goodbread .right figure img {}
        
       
       
       /* 신제품 소개 */
       
        #product .pd {width:auto;margin:0 auto;padding:0 0.75rem;}
        #product .pd h2 {font-size:4vw;line-height:2rem;color:#074c43;font-weight:700;position:relative;padding:0 0.75rem;margin-bottom:1rem;}
        #product .pd p {font-size:3.5vw;line-height:1.3;margin-bottom:2rem;}
        #product h2:after {position:absolute;top:0.4rem;left:0;display:block;content:"";width:5px;height:1.3rem;background:#074c43;}
        #product .itm {display:flex;flex-direction:column;text-align:center;}
    
        #product figure {text-align:center;border-radius:10%;background:#fff;margin:1rem 0.75rem;}
        #product figure img {width:50%;}
        
        #product .itm01 {position:relative;}
        #product .itm01 figure:hover:after {display:none;z-index:0;}
        #product .itm01 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
        top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}
    
        #product .itm01 a {display:none;z-index:-1;}
        #product .itm01 h3 {font-size:3vw;padding:0.75rem 0.75rem;margin-bottom:1rem;}
        #product .itm01:hover a {display:none;}
        #product .itm01 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
        left:50%;transform:translate(-50%,0);z-index:1;}
        #product .itm01 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);}
        
        #product .itm02 {position:relative;}
        #product .itm02 h3 {font-size:3vw;padding:0.75rem 0.75rem;margin-bottom:1rem;}
        #product .itm02 figure:hover:after {display:none;z-index:0;}
        #product .itm02 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
        top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}
    
        #product .itm02 a {display:none;}
        #product .itm02:hover a {display:none;}
        #product .itm02 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
        left:50%;transform:translate(-50%,0);}
        #product .itm02 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);z-index:1;}
    
        #product .itm03 {position:relative;}
        #product .itm03 h3 {font-size:3vw;padding:0.75rem 0.75rem;margin-bottom:1rem;}
        #product .itm03 figure:hover:after {display:none;z-index:0;}
        #product .itm03 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
        top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}
        #product .itm03 a {display:none;}
        #product .itm03:hover a {display:none;}
        #product .itm03 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
        left:50%;transform:translate(-50%,0);}
        #product .itm03 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);z-index:1;}
    
        #product .itm04 {position:relative;}
        #product .itm04 h3 {font-size:3vw;padding:0.75rem 0.75rem;margin-bottom:1rem;}
        #product .itm04 figure:hover:after {display:none;z-index:0;}
        #product .itm04 figure::after {content:"";width:262.5px;height:262.5px;background:#fff;display:block;position:absolute;
        top:5%;left:0;transform:translatex(5%);overflow:hidden;display:none;border-radius:50%;z-index:0;}
        #product .itm04 a {display:none;}
        #product .itm04:hover a {display:none;}
        #product .itm04 strong {background:#074c43;color:#fff;padding:0.1rem 1.5rem;position:absolute;top:62%;
        left:50%;transform:translate(-50%,0);}
        #product .itm04 span {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);z-index:1;}
    
       /* 프랜차이즈 */
       
       #franchise {padding:7.5rem 0 0 0;text-align:center;position:relative;color:#fff;}
       
       #franchise figure {height:30rem;}
       .auto .imgae1 {background:url(../img/franchise.png) no-repeat center center/cover;}
       .auto .imgae2 {background:url(../img/franchise01.png) no-repeat center center/cover;}
       
       #franchise .slogan {position:absolute;top:55%;left:50%;transform:translate(-50%,-50%);}
       #franchise .slogan h2 {font-size:3rem;font-weight:300;font-family: 'Nanum Brush Script', cursive;position:relative;}
       #franchise .slogan h2::after {display:block;content:"";width:1.5rem;height:0.15rem;background:#fff;position:absolute;
       top:110%;left:50%;transform:translateX(-50%);}
       #franchise .slogan p {margin-top:1.75rem;font-weight:300;line-height:1.5rem;font-size:2.3vw;}
       #franchise .slogan strong {margin-top:2rem;position:absolute;top:100%;left:50%;transform:translate(-50%,-50%);
      font-size:2vw;}
       #franchise .slogan a {padding:0.1rem 2rem;border:1px solid #fff;}
       
       #franchise .xe {font-size:2.5rem;}
       #franchise .xi-angle-left-thin {position:absolute;top:55%;left:10%;}
       #franchise .xi-angle-right-thin {position:absolute;top:55%;left:90%;}
       
       /* 푸터 */
       
       
       
       footer {background:#202020;color:#fff;}
       
       .tob {width:auto;margin:0 auto;padding:0 0.75rem;}
       .tob>ul>li {font-size:0.8rem;font-weight:300;}
       .tob_ {display:flex;;
         width:100%;margin:0 auto;line-height:1.2rem;font-size:0.7rem;padding:0.75rem 0;}
       
       .sub_tob01 {width:auto;margin-right:0.75rem;line-height:1.5rem;padding:0 0.75rem;}
       .deep_02>dl>dd {font-size:0.6rem;font-weight:100;line-height:1.2rem;}
       .sub_footer {font-size:0.75rem;line-height:2em;}
       
       .deep_03 {margin-top:1rem;}
       .deep_03 h3 {font-size:0.5rem;font-weight:100;}
       
       .tob_footer {display:inline-block;margin:0 auto;}
       .tob_footer>li {padding:0 2rem 0 0;line-height:2.3rem;}
       .tob_footer span {color:#f26a25;font-weight:500;}
       
       /* 푸터 - 1단 */
       
       .sub_tob02 {width:auto;margin:0 0.75rem;}
       
       .deep_01>dl>dd {font-size:0.6rem;font-weight:100;line-height:1.2rem;}
       .bottom_text {margin-top:1rem;line-height:2rem;}
       
       /* 2단 왼쪽 푸터 */
       
       .tob_text {font-size:1rem;font-weight:500;line-height:2;}
       
       /* 2단 중간 푸터 */
       
       .sub_tob03 {width:auto;margin-left:0.75rem;}
       .sub_tob03 .baker {margin-top:1rem;}
       .sub_tob03>dl>dd {font-size:0.6rem;font-weight:100;line-height:1.2rem;}
       .sub_tob03>dl>dt {font-size:0.75rem;line-height:2em;}
   
       .mopen {display:block;position:fixed;top:1.5rem;right:1.5rem;color:#fff;font-size:1.5rem;padding:0.25rem;background:rgba(0,0,0,0.4);
         z-index:1000;}
    
}

