/*{outline:1px solid #f00;}*/
.wrap {min-width:95rem;}
html {font-size:20px;}
body {font-size:0.8rem;}

.container {display:flex;width:60rem;margin:0 auto;}
.container_ {width:60rem;margin:0 auto;}
.m_br {display:none;}
/* ----------------------------- 메뉴 -----------------------------  */

.header {width:100%;display:flex;position: relative;}
.logo {width:15%;margin:1rem 0 1rem 6.5rem;}
.menu {width:85%;margin-right:6.5rem;}

.gnb>ul {display:flex;justify-content:center;}
.gnb>ul>li {padding:0 20px;position:relative;line-height:5.4rem;font-weight:500;text-align:center;font-size:0.9rem;z-index:1000;}
.gnb>ul>li .deep_01 {display:block;position:absolute;top:110px;width:100%;left:50%;transform:translateX(-50%);width:200px;opacity:0;height:0;
overflow:hidden;}
.gnb>ul>li:hover .deep_01 {opacity:1;height:auto;overflow:hidden;}

.gnb>ul>li>ul>li {font-size:0.8rem;line-height:1.5;padding:0.5rem 0;border-top:1px solid #ddd;}
.gnb>ul>li>ul>li::after {content:"";display:block;width:100%;height:100%;background:rgba(255,255,255,0.4);position:absolute;top:0;left:0;z-index:-1;
opacity:0.5;}

.gnb>ul>li::after {content:"";display:block;width:0;height:0.15rem;background:#1A256A;position:absolute;bottom:28%;left:50%;transform:translateX(-50%);transition:0.5s;}
.gnb>ul>li:hover::after {width:3.5rem;}

/* ----------------------------- 메인 슬라이드 -----------------------------  */

.main_slider {position:relative;}
.main_slider .con01 {background:url(../img/main01.jpg) no-repeat center center/cover;width:100%;height:calc(100vh - 5.4rem);position: relative;}
.main_slider .con01 .text {position:absolute;top:44%;left:50%;transform:translate(-50%,-50%);color:#fff;text-align:center;}
.main_slider .con01 h2 {font-size:2rem;font-weight:300;line-height:2;}
.main_slider .con01 p {font-size:1rem;font-weight:300;line-height:1.5rem;}
.main_slider .con01 strong {font-weight:500;color:#ff0;}
.main_slider .con01 span {font-weight:500;color:#ff0;}
.main_slider .con01 a {display:block;position:absolute;top:110%;left:50%;transform:translate(-50%,-50%);
    width:12rem;height:1.8rem;background:#1A256A;margin-top:1.5rem;text-align:center;
line-height:2;font-weight:100;font-size:0.85rem;}

.main_slider .con02 {background:url(../img/main04.jpg) no-repeat bottom center/cover;width:100%;height:calc(100vh - 5.4rem);position:relative;}
.main_slider .con02 .text {position:absolute;top:50%;left:40%;transform:translate(-50%,-50%);color:#fff;}
.main_slider .con02 h2 {font-size:2rem;font-weight:300;line-height:2;}
.main_slider .con02 p {font-size:1rem;font-weight:300;line-height:1.4rem;}
.main_slider .con02 strong {font-weight:500;color:#ff0;}
.main_slider .con02 span {font-weight:500;color:#ff0;}
.main_slider .con02 a {display:block;width:12rem;height:1.8rem;background:#1A256A;margin-top:1.5rem;text-align:center;
line-height:2;font-weight:100;font-size:0.85rem;}

.main_slider .con03 {background:url(../img/main06.jpg) no-repeat center center/cover;width:100%;height:calc(100vh - 5.4rem);position: relative;}
.main_slider .con03 .text {position:absolute;top:44%;right:38%;transform:translate(50%,-50%);text-align:right;}
.main_slider .con03 h2 {font-size:2rem;font-weight:300;line-height:2;}
.main_slider .con03 p {font-size:1rem;font-weight:300;line-height:1.5rem;}
.main_slider .con03 strong {font-weight:500;color:#fff;}
.main_slider .con03 span {font-weight:500;color:#fff;}
.main_slider .con03 a {display:block;width:12rem;height:1.8rem;background:#1A256A;margin-top:1.5rem;text-align:center;
line-height:2;font-weight:100;font-size:0.85rem;color:#fff;position:absolute;top:110%;right:0;transform:translateY(-50%);}

.btn {color:#fff;font-size:1.8rem;}
.btn .xi-angle-left {position:absolute;top:55%;left:5%;transform:translate(-50%,-50%);padding:0.3rem;background:#1A256A;}
.btn .xi-angle-right {position:absolute;top:55%;right:5%;transform:translate(-50%,-50%);padding:0.4rem;background:#1A256A}


/* ----------------------------- 1단 진료센터 소개 -----------------------------  */

.identity {width:100%;margin:6rem 0 10rem 0;}
.identity h2 {text-align:center;font-size:1.5rem;font-weight:400;}
.identity h3 {position:absolute;top:17%;left:17%;transform:translate(-50%,-50%);font-size:2rem;}
.identity span {font-weight:700;}
.identity a {position:absolute;bottom:2%;left:19%;transform:translate(-50%,-50%);border:1px solid rgba(0,0,0,0.5);padding:0.5rem 1.5rem;border-radius:1rem;}
.identity .tob {display:flex;margin-top:2rem;}
.identity strong {font-weight:700;}

.identity .tob .shoulder {width:30rem;position:relative;border:2px solid #fff;}
.identity .tob .shoulder .case {width:100%;overflow:hidden;}
.identity .tob .shoulder p {width:100%;position:absolute;top:44%;left:55%;transform:translate(-50%,-50%);
font-size:0.85rem;line-height:1.5;}    
.identity .tob .shoulder .img {background:url(../img/pain02.png) no-repeat center center/cover;width:auto;height:15rem;
transition:0.4s;}
.identity .tob .shoulder:hover .img {transform:scale(1.3);}

.identity .tob .patella {width:30rem;border:2px solid #fff;position:relative;}
.identity .tob .patella .case {width:100%;overflow:hidden;}
.identity .tob .patella p {width:100%;position:absolute;top:48%;left:55%;transform:translate(-50%,-50%);font-size:0.85rem;line-height:1.5;}
.identity .tob .patella .img {background:url(../img/pain04.png) no-repeat center center/cover;width:auto;height:15rem;
transition:0.4s;}

.identity .tob .patella:hover .img {transform:scale(1.3);}

.identity .bottom {display:flex;}
.identity .bottom .ankleJoint {width:30rem;position:relative;border:2px solid #fff;}
.identity .bottom .ankleJoint .case {width:100%;overflow:hidden;}
.identity .bottom .ankleJoint .img {background:url(../img/pain05.png) no-repeat center center/cover;width:auto;height:15rem;transition:0.4s;}
.identity .bottom .ankleJoint p {width:100%;position:absolute;top:48%;left:55%;transform:translate(-50%,-50%);font-size:0.85rem;line-height:1.5;}
.identity .bottom .ankleJoint:hover .img {transform:scale(1.3);}

.identity .bottom .vertebrae {width:30rem;position:relative;border:2px solid #fff;}
.identity .bottom .vertebrae .case {width:100%;overflow:hidden;}
.identity .bottom .vertebrae .img {background:url(../img/pain01.png) no-repeat center bottom/cover;width:auto;height:15rem;transition:0.4s;}
.identity .bottom .vertebrae p {width:100%;position:absolute;top:48%;left:55%;transform:translate(-50%,-50%);font-size:0.85rem;line-height:1.5;}
.identity .bottom .vertebrae:hover .img {transform:scale(1.3);} 

/* ----------------------------- 2단 진료 예약 -----------------------------  */

.bar .img {background:url(../img/main01.png) no-repeat center center/cover;width:100%;height:18rem;position:relative;}
/* .bar .img::after {content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.9);} */
.bar {width:100%;height:100%;position:relative;}
.bar .text {position:absolute;top:42%;left:50%;transform:translate(-50%,-50%);text-align:center;color:#ddd;}
.bar .text h2 {font-size:1.1rem;font-weight:300;line-height:1.3;margin-bottom:1.5rem;position:relative;}
.bar .text h2::after {content:"";display:block;position:absolute;bottom:-30%;left:50%;transform:translateX(-50%);width:4rem;height:0.05rem;background:#fff;}
.bar .text span {font-weight:400;color:rgba(255, 255, 0, 0.85);}

.bar .text .time h3 {font-weight:300;line-height:2;font-size:0.95rem;}
.bar .text .time strong {font-weight:400;color:rgba(255, 255, 0, 0.85);}
.bar .text .time span {letter-spacing:0.1rem;margin-left:0.25rem;font-weight:100;color:#fff;}
.bar .text .time p {line-height:1.4;font-weight:300;}

.bar .text a {display:block;padding:0.25rem 1rem 0.35rem 1rem;width:9rem;position:absolute;bottom:-25%;left:50%;transform:translateX(-50%);background:rgba(255, 255, 0, 0.85);color:#111;
font-size:0.75rem;line-height:1;border-radius:1rem;font-weight:400;}


/* ----------------------------- 3단 병원 연혁 -----------------------------  */

.facility {width:100%;margin:10rem 0;text-align:center;}
.facility strong {font-weight:400;}
.facility p {font-weight:300;}
.facility a {font-weight:300;}
.facility h2 {font-size:1.5rem;font-weight:700;margin-bottom:2rem;}

.facility .itm {width:33%;}
.facility .f_con2 {margin:0 1rem;}
.facility .text {padding-top:0.75rem;border:1px solid #ddd;height:8rem;}
.facility .text h3 {font-size:0.9rem;font-weight:500;margin-bottom:0.75rem;}
.facility .text p {padding:0 0.75rem 1.5rem 0.75rem;line-height:1.3;}

/* ----------------------------- 4단 공지사항 -----------------------------  */

.notice {width:100%;height:18rem;padding:3rem 0;background:#f3f3f3;}
.notice ul>li {padding:0.5rem 1rem;line-height:0.8;}
.notice ul>li:hover {text-decoration:underline;}
.notice h3 {color:#111;font-size:0.9rem;font-weight:500;padding:0.75rem 1rem;}


.notice .left {width:32.5%;margin:0 1rem;background:#fff;border:1px solid #f3f3f3;padding:0.5rem 0;}
.notice .left span {padding:0.1rem 0.25rem;background:#1A256A;font-size:0.7rem;color:#fff;margin-right:0.5rem;}
.notice .left strong {font-size:0.75rem;font-weight:400;float:right;}
.notice .left i {margin-left:0.15rem;}

.notice .center {width:32.5%;margin:0 1rem;background:#fff;border:1px solid #f3f3f3;padding:0.5rem 0;}
.notice .center span {padding:0.1rem 0.25rem;background:#1A256A;font-size:0.7rem;color:#fff;margin-right:0.5rem;}
.notice .center strong {font-size:0.75rem;font-weight:400;float:right;}
.notice .center i {margin-left:0.15rem;}
.notice .center ul>li {width:92%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.notice .right {width:32.5%;background:#fff;border:1px solid #f3f3f3;padding:0.5rem 0;}
.notice .right span {padding:0.1rem 0.25rem;background:#1A256A;font-size:0.7rem;color:#fff;margin-right:0.5rem;}
.notice .right strong {font-size:0.75rem;font-weight:400;float:right;}
.notice .right i {margin-left:0.15rem;}

/* ----------------------------- 5단 엠블럼 -----------------------------  */

.emblem {width:100%;margin:1rem 0;position: relative;}
.emblem .e_slider {width:60rem;margin:0 auto;height:3rem;padding:0 1rem;}
.emblem .e_slider h3 {font-size:0.7rem;}
.emblem figure img {height:3rem;padding:0 1rem;margin:0 1.5rem;}

.e_btn .xi-angle-left-min {position:absolute;top:50%;left:16%;transform:translate(-50%,-50%);padding:0.7rem 0.15rem;background:#1A256A;color:#fff;cursor:pointer;}
.e_btn .xi-angle-right-min {position:absolute;top:50%;right:15%;transform:translate(-50%,-50%);padding:0.7rem 0.15rem;background:#1A256A;color:#fff;cursor:pointer;}
/* ----------------------------- 푸터 -----------------------------  */

.footer {width:100%;color:#fff;background:#1A256A;}
.footer span {font-weight:500;color:#ff0;}
.footer .container_ ul {display:flex;}
.footer .container_ ul>li~li::after {content:"";display:block;width:1px;height:0.6rem;position:absolute;top:50%;left:0;transform:translateY(-50%);background:rgba(255,255,255,0.15);}
.footer .container_ ul>li {position:relative;}
.footer .container_ ul>li {padding:0 0.75rem;}
.footer .container_ .bottom {padding:0 0.75rem 2rem 0;font-size:0.75rem;}
.footer .container_ address {padding:0 0.75rem;}
.footer .container_ .top {padding:1rem 0;border-bottom:1px solid rgba(255,255,255,0.15)}
.footer .container_ .cener {padding:1rem 0 0.75rem 0;font-size:0.75rem;}

.mopen {display:none;position:fixed;top:1.5rem;right:0.5rem;width:3rem;height:3rem;line-height:1;font-size:2rem;
padding:0.5rem;background:#fff;}









/* ----------------------------- 여기서부터 반응형 -----------------------------  */










@media (max-width:768px) {
    .wrap {min-width:auto;}
    html {font-size:16px;}
    body {font-size:0.8rem;}    
    .container {display:flex;width:auto;margin:0 auto;}
    .container_ {width:auto;margin:0 auto;}
    .m_br {display:block;}
    .p_br {display:none;}
    /* ----------------------------- 메뉴 -----------------------------  */

    .header {width:100%;position:fixed;top:0;left:0;position:relative;}
    .logo {width:100%;margin:1rem 0 1rem 1rem;z-index:1000;}
    .menu {width:85%;margin-right:6.5rem;background:n;}

    .gnb {position:fixed;top:0;left:-100%;width:calc(100% - 90px);height:100vh;background:#1A256A;color:#fff;padding:6rem 0 0 0;
    border-right:1px solid #333;transition:0.5s;z-index:999;}

    .gnb.on {left:0;}

    .gnb>ul {display:flex;flex-direction:column;}
    .gnb>ul>li {position:relative;line-height:3rem;font-weight:400;text-align:left;font-size:1rem;z-index:1000;padding:0;
    border-bottom:1px solid #ddd;}
    .gnb>ul>li>a {padding:0 1.5rem;width:100%;}
    .gnb>ul>li .deep_01 {display:none;position:static;top:0;width:100%;left:0;transform:translateX(0);width:100%;opacity:1;height:auto;
    overflow:hidden;background:#fff;color:#111;}
    
    .gnb>ul>li:hover .deep_01 {display:none;opacity:1;height:auto;overflow:hidden;transition:none;}

    .gnb>ul>li>ul>li {font-size:0.9rem;line-height:1.5;padding:0.5rem 0;border-top:1px solid #ddd;}
    .gnb>ul>li>ul>li>a {padding:0 1.5rem;width:100%;}
    .gnb>ul>li>ul>li::after {content:"";display:block;width:100%;height:100%;background:#fff;position:absolute;top:0;left:0;z-index:-1;
    opacity:0.5;}

    .gnb>ul>li::after {content:"";display:none;width:0;height:0.15rem;background:#1A256A;position:absolute;bottom:28%;left:50%;
    transform:translateX(-50%);transition:0.5s;}
    .gnb>ul>li:hover::after {width:0;}

    /* ----------------------------- 반응형 메인 슬라이드 -----------------------------  */

    .main_slider {position:relative;}
    .main_slider .con01 {background:url(../img/main01.jpg) no-repeat center right/cover;width:100%;height:calc(100vh - 20rem);position: relative;}
    .main_slider .con01 .text {position:absolute;top:44%;left:50%;transform:translate(-50%,-50%);color:#fff;
    text-align:center;width:100%;width:70%;}
    .main_slider .con01 h2 {font-size:2rem;font-weight:300;line-height:1.3;margin-bottom:1rem;}
    .main_slider .con01 p {font-size:1rem;font-weight:300;line-height:1.6rem;}
    .main_slider .con01 strong {font-weight:500;color:#ff0;}
    .main_slider .con01 span {font-weight:500;color:#ff0;}
    .main_slider .con01 a {display:block;position:absolute;top:110%;left:50%;transform:translate(-50%,-50%);
    width:12rem;height:1.8rem;background:#1A256A;margin-top:1.5rem;text-align:center;
    line-height:2;font-weight:100;font-size:0.85rem;}

    .main_slider .con02 {background:url(../img/main04.jpg) no-repeat bottom center/cover;width:100%;height:calc(100vh - 20rem);position:relative;}
    .main_slider .con02 .text {position:absolute;top:45%;left:52%;transform:translate(-50%,-50%);color:#fff;width:65%;text-align:center;}
    .main_slider .con02 h2 {font-size:2rem;font-weight:300;line-height:1.3;margin-bottom:1.1rem;}
    .main_slider .con02 p {font-size:1rem;font-weight:300;line-height:1.6rem;}
    .main_slider .con02 strong {font-weight:500;color:#ff0;}
    .main_slider .con02 span {font-weight:500;color:#ff0;}
    .main_slider .con02 a {display:block;width:12rem;height:1.8rem;background:#1A256A;margin-top:1.5rem;text-align:center;
    line-height:2;font-weight:100;font-size:0.85rem;position:absolute;top:105%;left:50%;transform:translate(-50%,-50%);}

    .main_slider .con03 {background:url(../img/main06.jpg) no-repeat center center/cover;width:100%;height:calc(100vh - 20rem);position: relative;}
    .main_slider .con03 .text {position:absolute;top:45%;right:48%;transform:translate(50%,-50%);text-align:center;width:67%;}
    .main_slider .con03 h2 {font-size:2rem;font-weight:300;line-height:1.3;margin-bottom:1.1rem;}
    .main_slider .con03 p {font-size:1rem;font-weight:300;line-height:1.5rem;}
    .main_slider .con03 strong {font-weight:500;color:#fff;}
    .main_slider .con03 span {font-weight:500;color:#fff;}
    .main_slider .con03 a {display:block;width:12rem;height:1.8rem;background:#1A256A;margin-top:1.5rem;text-align:center;
    line-height:2;font-weight:100;font-size:0.85rem;color:#fff;position:absolute;top:105%;left:50%;transform:translate(-50%,-50%);}

    .btn {color:#fff;font-size:1.2rem;}
    .btn .xi-angle-left {position:absolute;top:42%;left:6%;transform:translate(-50%,-50%);padding:0.4rem;background:#1A256A;}
    .btn .xi-angle-right {position:absolute;top:42%;right:0;transform:translate(-50%,-50%);padding:0.4rem;background:#1A256A}

    /* ----------------------------- 반응형 1단 진료센터 소개 -----------------------------  */

    .identity {width:100%;margin:6rem 0 10rem 0;}
    .identity .container_ {width:95%;margin:0 auto;}
    .identity h2 {text-align:center;font-size:1.5rem;font-weight:400;}
    .identity h3 {position:absolute;top:12%;left:29%;transform:translate(-50%,-50%);font-size:1.6rem;}
    .identity span {font-weight:700;}
    .identity a {position:absolute;bottom:2%;left:30%;transform:translate(-50%,-50%);border:1px solid rgba(0,0,0,0.5);
    padding:0.4rem 1.4rem;border-radius:1rem;line-height:1.1;}
    .identity .tob {display:flex;margin-top:2rem;}
    .identity strong {font-weight:700;}

    .identity .tob .shoulder {width:50%;position:relative;border:0.15rem solid #fff;}
    .identity .tob .shoulder .case {width:100%;overflow:hidden;}
    .identity .tob .shoulder p {width:100%;position:absolute;top:50%;left:58%;transform:translate(-50%,-50%);
    font-size:0.85rem;line-height:1.5;}    
    .identity .tob .shoulder .img {background:url(../img/pain02.png) no-repeat center center/cover;width:auto;height:15rem;
    transition:0.4s;}
    .identity .tob .shoulder:hover .img {transform:scale(1.15);}

    .identity .tob .patella {width:50%;border:0.15rem solid #fff;position:relative;}
    .identity .tob .patella .case {width:100%;overflow:hidden;}
    .identity .tob .patella p {width:100%;position:absolute;top:50%;left:58%;transform:translate(-50%,-50%);font-size:0.85rem;line-height:1.5;}
    .identity .tob .patella .img {background:url(../img/pain04.png) no-repeat center center/cover;width:auto;height:15rem;
    transition:0.4s;}

    .identity .tob .patella:hover .img {transform:scale(1.15);}

    .identity .bottom {display:flex;}
    .identity .bottom .ankleJoint {width:50%;position:relative;border:0.15rem solid #fff;}
    .identity .bottom .ankleJoint .case {width:100%;overflow:hidden;}
    .identity .bottom .ankleJoint .img {background:url(../img/pain05.png) no-repeat right center/cover;width:auto;height:15rem;transition:0.4s;}
    .identity .bottom .ankleJoint p {width:100%;position:absolute;top:50%;left:58%;transform:translate(-50%,-50%);font-size:0.85rem;line-height:1.5;}
    .identity .bottom .ankleJoint:hover .img {transform:scale(1.15);}

    .identity .bottom .vertebrae {width:50%;position:relative;border:0.15rem solid #fff;}
    .identity .bottom .vertebrae .case {width:100%;overflow:hidden;}
    .identity .bottom .vertebrae .img {background:url(../img/pain01.png) no-repeat center bottom/cover;width:auto;height:15rem;transition:0.4s;}
    .identity .bottom .vertebrae p {width:100%;position:absolute;top:50%;left:58%;transform:translate(-50%,-50%);font-size:0.85rem;line-height:1.5;}
    .identity .bottom .vertebrae:hover .img {transform:scale(1.15);} 

    /* ----------------------------- 반응형 2단 진료 예약 -----------------------------  */

    .bar .img {background:url(../img/main01.png) no-repeat center center/cover;width:100%;height:18rem;position:relative;}
    /* .bar .img::after {content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.9);} */
    .bar {width:100%;height:100%;position:relative;}
    .bar .text {position:absolute;top:42%;left:50%;transform:translate(-50%,-50%);text-align:center;color:#ddd;width:100%;}
    .bar .text h2 {font-size:1.1rem;font-weight:300;line-height:1.3;margin-bottom:1.5rem;position:relative;}
    .bar .text h2::after {content:"";display:block;position:absolute;bottom:-30%;left:50%;transform:translateX(-50%);width:4rem;height:0.05rem;background:#fff;}
    .bar .text span {font-weight:400;color:rgba(255, 255, 0, 0.85);}

    .bar .text .time h3 {font-weight:300;line-height:2;font-size:0.95rem;}
    .bar .text .time strong {font-weight:400;color:rgba(255, 255, 0, 0.85);}
    .bar .text .time span {letter-spacing:0.1rem;margin-left:0.25rem;font-weight:100;color:#fff;}
    .bar .text .time p {line-height:1.4;font-weight:300;font-size:0.9rem;}

    .bar .text a {display:block;padding:0.25rem 1rem 0.35rem 1rem;width:9rem;position:absolute;bottom:-25%;left:50%;transform:translateX(-50%);background:rgba(255, 255, 0, 0.85);color:#111;
    font-size:0.75rem;line-height:1;border-radius:1rem;font-weight:400;}


    /* ----------------------------- 반응형 3단 병원 연혁 -----------------------------  */

    .facility {width:100%;margin:10rem 0;text-align:center;}
    .facility strong {font-weight:400;}
    .facility p {font-weight:300;}
    .facility a {font-weight:300;}
    .facility h2 {font-size:1.5rem;font-weight:700;margin-bottom:2rem;}

    .facility .itm {width:33%;}
    .facility .f_con2 {margin:0 1rem;}
    .facility .text {padding-top:0.75rem;border:1px solid #ddd;height:8rem;}
    .facility .text h3 {font-size:0.9rem;font-weight:500;margin-bottom:0.75rem;}
    .facility .text p {padding:0 0.75rem 1.5rem 0.75rem;line-height:1.3;}

    /* ----------------------------- 반응형 4단 공지사항 -----------------------------  */

    .notice {width:100%;height:24rem;padding:3rem 0;background:#f3f3f3;}
    .notice ul>li {padding:0.5rem 1rem;line-height:0.8;}
    .notice ul>li:hover {text-decoration:underline;}
    .notice h3 {color:#111;font-size:0.9rem;font-weight:500;padding:0.75rem 1rem;}


    .notice .left {width:32.5%;margin:0 1rem;background:#fff;border:1px solid #f3f3f3;padding:0.5rem 0;}
    .notice .left span {padding:0.1rem 0.25rem;background:#1A256A;font-size:0.7rem;color:#fff;margin-right:0.5rem;}
    .notice .left strong {font-size:0.75rem;font-weight:400;float:right;}
    .notice .left i {margin-left:0.15rem;}

    .notice .center {width:32.5%;margin:0 1rem;background:#fff;border:1px solid #f3f3f3;padding:0.5rem 0;}
    .notice .center span {padding:0.1rem 0.25rem;background:#1A256A;font-size:0.7rem;color:#fff;margin-right:0.5rem;}
    .notice .center strong {font-size:0.75rem;font-weight:400;float:right;}
    .notice .center i {margin-left:0.15rem;}
    .notice .center ul>li {width:92%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

    .notice .right {width:32.5%;background:#fff;border:1px solid #f3f3f3;padding:0.5rem 0;}
    .notice .right span {padding:0.1rem 0.25rem;background:#1A256A;font-size:0.7rem;color:#fff;margin-right:0.5rem;}
    .notice .right strong {font-size:0.75rem;font-weight:400;float:right;}
    .notice .right i {margin-left:0.15rem;}

    /* ----------------------------- 반응형 5단 엠블럼 -----------------------------  */

    .emblem {width:100%;margin:1rem 0;position: relative;}
    .emblem .e_slider {width:auto;margin:0 auto;height:3rem;padding:0 0.5rem;background:#fff;}
    .emblem .e_slider h3 {font-size:0.7rem;}
    .emblem figure img {height:3rem;padding:0 1rem;margin:0 1.5rem;}

    .e_btn .xi-angle-left-min {display:none;position:absolute;top:50%;left:16%;transform:translate(-50%,-50%);padding:0.7rem 0.15rem;background:#1A256A;color:#fff;cursor:pointer;}
    .e_btn .xi-angle-right-min {display:none;position:absolute;top:50%;right:15%;transform:translate(-50%,-50%);padding:0.7rem 0.15rem;background:#1A256A;color:#fff;cursor:pointer;}
    /* ----------------------------- 반응형 푸터 -----------------------------  */

    .footer {width:100%;color:#fff;background:#1A256A;text-align:center;}
    .footer span {font-weight:500;color:#ff0;}
    .footer .container_ ul {display:inline-block;}
    .footer .container_ ul>li~li::after {content:"";display:none;width:1px;height:0.6rem;position:absolute;top:50%;left:0;
    transform:translateY(-50%);background:rgba(255,255,255,0.15);}
    .footer .container_ ul>li {position:relative;font-weight:300;padding:0.5rem 0.75rem;}
    .footer .container_ .bottom {padding:0 0.75rem 2rem 0;font-size:0.8rem;}
    .footer .container_ address {padding:0 0.75rem;font-weight:300;}
    .footer .container_ .top {padding:1rem 0;border-bottom:1px solid rgba(255,255,255,0.15);font-size:0.8rem;}
    .footer .container_ .cener {padding:1rem 0 0.75rem 0;font-size:0.8rem;}

    .mopen {display:block;}

    }