#index {min-width:1200px;}

#header {}
#header h1 {text-align:center;padding:10px 0;}
#gnb {border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#gnb>ul {display:flex;justify-content:center;line-height:80px;}
#gnb>ul>li>a {display:block;margin:0 25px;}

#visual {position:relative;}
#visual figure img {width:100%;}
#visual .slogan {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
text-align:center;color:#fff;width:1200px;padding:0 15px;}

#visual .slogan h2 {font-size:30px;font-weight:100;letter-spacing:0.5em;margin-bottom:20px;}
#visual .slogan p {font-weight:100;line-height:1.6;}

#event {padding:150px 0;}
#event h2 {text-align:center;}
#event .container {display:flex;width:1200px;margin:0 auto;}
#event .container figure {flex:1;padding:0 15px;}
#event .container figure img {width:100%;}

#tabcontent {padding:150px 0;background:#f7f7f7;}
#tabcontent .container {width:1200px;margin:0 auto;}
#tabcontent ul {display:flex;line-height:40px;margin-bottom:20px;}
#tabcontent ul li {flex:1;text-align:center;background:#333;color:#fff;}
#tabcontent ul li.oo {background:#f00;}
#tabcontent ul li~li {border-left:1px solid #ddd;}
#tabcontent .tab>div {display:none;}
#tabcontent .tab>div.oo {display:block;}

#footer {padding:80px 0 120px 0;background:#333;color:#f2f2f2;text-align:center;}