@font-face {font-family:"neon";src: url('../font/a뉴굴림4.ttf') format('truetype');}


#wrap {min-width:1900px;}

#top_banner {text-align:center;background:#fdc743;color: #333;}
#top_banner .container {width:1200px;margin:0 auto;padding:10px 0;position:relative;}
#top_banner .container h2 {font-weight:500;}
#top_banner .container i {position:absolute;top:10px;right:15px;}
/* 상단 광고 */

#header .menu_ {width:1200px;height:20px;margin:0 auto;}
#header .menu_ nav>ul {display:flex;float:right}
#header .menu_ nav>ul>li>a {padding:5px 5px;font-size:12px;}
#header i {font-size:12px;}

#header .container {display:flex;justify-content:space-between;width:1200px;height:100px;
margin:0 auto;padding:30px 0;margin-bottom:10px;
position:relative;}
#header h1 img {max-width:136px;max-height:64px;position:absolute;top:50%;left:0;transform:translateY(-50%)}

/* 페스룸 로고 */

#header .list {border-top:1px solid #dddddd;}
#header .list nav>ul {display:flex;justify-content:center;width:1200px;margin:0 auto;padding:0 15px;}
#header .list nav>ul>li>a {text-align:center;padding:0 20px;line-height:50px;position:relative;}
#header .list nav>ul>li~li>a:before {content:"";display:block;width:1px;height:12px;
background:#dddddd;position:absolute;top:50%;left:0;transform:translateY(-50%);}

/* 대메뉴 */

#header .blank {display:block;}

#header .header_search i {font-size:16px;}
#header .header_search input {display:flex;border: #062f87 1px solid;width:550px;height:30px;border-radius:15px;
    position:relative;margin:0 auto;}
/*#header .header_search {display:flex;border: #062f87 1px solid;width:540px;height:30px;border-radius:15px;
position:relative;margin:0 auto;margin-left:0;z-index:999;}*/
#header .header_search button {background:none;border:none;color: #062f87;font-size:28px;position:absolute;
top:50%;left:75%;transform:translate(-175%,-75%);}
#header .header_search button:hover {cursor:pointer;}

#header .icon ul {display:flex;color: #062f87;float:right;}
#header .icon i {font-size:26px;margin-right:15px;}

#main_visual {position:relative;}
#main_visual figure {position:relative;height:600px;}
#main_visual .itm01 {background:url(../img/visual01.png)no-repeat center center/cover;}
#main_visual .itm02 {background:url(../img/visual02.png)no-repeat center center/cover;}
#main_visual .itm03 {background:url(../img/visual03.png)no-repeat center center/cover;}

#main_visual .main_btn i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:36px;cursor:pointer;color:#fff;}
#main_visual .main_btn i.xi-angle-left {margin-left:-600px;}
#main_visual .main_btn i.xi-angle-right {margin-left:600px;}

#visual01 {background:#f7f7f7;margin-top:150px;padding:50px 0 100px 0;height:800px;}
#visual01 .main_text {text-align:center;position:relative;}
#visual01 .main_text h2 {font-family:'neon';font-size:24px;margin-bottom:70px;}
#visual01 .main_text h2:after {content:"";display:block;width:60px;height:2px;background:#062f87;margin:10px auto;}
#visual01 .main_text p {margin-bottom:15px;}
#visual01 .container {display:flex;width:1200px;margin:0 auto;text-align:center;color:#fff;}
/* 1단 타이틀 */

/* 1단 내용 */
#visual01 .container figure img {width:380px;}
#visual01 .teim1 {padding:0 0 15px 0;margin-right:30px;background:#062f87;position:relative;}
#visual01 .discount {position:absolute;width:70px;padding:2px 0;background:#062f87;border-radius:5px;font-size:14px;}

/* 1단 옵션 */
#visual01 .teim2 {padding:0 0 15px 0;background:#062f87;position:relative;}
#visual01 .deve {position:absolute;background:#f00;padding:2px 0;width:70px;
border-radius:5px;font-size:14px;left:80px;}
/* 1단 내용 */

#visual01 .container h3 {font-weight:400;padding:10px 0;}
#visual01 .container p {font-size:13px;font-weight:100;text-decoration:line-through;margin-bottom:10px;}
#visual01 .imtext {font-size:18px;color:#fdc743;}
/* 1단 내용 */

#visual02 .container {display:flex;margin:0 auto;padding:200px 0;width:1200px;}

/* 3단 내용 */
#visual03 {background:#fdc743;}
#visual03 .container {width:1200px;margin:0 auto;height:200px;padding:15px 0;position:relative;margin-bottom:100px;}
#visual03 .box_mini {display:flex;color:#fff;}
#visual03 .container figure {position:absolute;top:50%;right:0;transform:translateY(-50%);}
#visual03 .container figure img {max-width:80%;max-height:80%;}

#visual03 .container p {padding:20px 0 0 0;}
#visual03 .container span {font-weight:500;}
#visual03 .container h3 {font-family:'neon';font-size:24px;margin:10px 0;}
#visual03 .container ul>li {flex:1;background:;}
#visual03 .mini {background:#062f87;margin:20px 15px 0 0;padding:5px 10px;border-radius:3px;}
#visual03 img {margin-right:0 auto}
/* 3단 내용 */

/* -------------- 4단 시작 -------------- */
#visual04 .main_text {width:1200px;margin:0 auto;padding:15px 0;text-align:center;}
#visual04 .main_text h2 {font-family:'neon';font-size:24px;}
#visual04 .main_text h2:after {content:"";display:block;width:60px;height:2px;background:#062f87;margin:10px auto;}
#visual04 .main_text p {margin-bottom:15px;}

#visual04 .container {position:relative;width:1200px;margin:0 auto;text-align:center;color:#fff;
padding:50px 0 100px 0;margin:0 auto;}
#visual04 .arrows i {position:absolute;top:50%;background:#fff;padding:10px;border:1px solid #ddd;}
#visual04 .arrows i.xi-arrow-left {left:0;transform:translateY(-120%);}
#visual04 .arrows i.xi-arrow-right {right:0;transform:translateY(-120%);}

/* 4단 치즈 */
#visual04 .chi {width:370px;background:#062f87;color:#fff;text-align:left;height:565.2px;}
#visual04 .chi:hover {background:#fdc743;color: black;}
#visual04 .chi figure {margin:15px 15px;}
#visual04 .chi figure img {width:100%}
#visual04 .chi h3 {display:flex;justify-content:space-between;
    font-family:'neon';font-size:18px;margin-bottom:10px;position:relative;margin:15px;}
#visual04 .chi p {margin:15px;line-height:22px;font-weight:100;}
#visual04 .chi strong {font-size:14px;font-family:'Noto Sans KR';}
/* 4단 치즈 */

/* 4단 보스 */
#visual04 .boss {width:370px;background:#062f87;color:#fff;text-align:left;
    height:565.2px;}
#visual04 .boss:hover {background:#fdc743;color: black;}
#visual04 .boss figure {margin:15px 15px;}
#visual04 .boss figure img {width:100%}
#visual04 .boss h3 {display:flex;justify-content:space-between;font-family:'neon';font-size:18px;margin-bottom:10px;position:relative;margin:15px;}
#visual04 .boss p {margin:15px;line-height:22px;font-weight:100;}
#visual04 .boss strong {font-size:14px;font-family:'Noto Sans KR';}
/* 4단 보스 */

/* 4단 찰스 */
#visual04 .chal {width:370px;background:#062f87;color:#fff;text-align:left;
    margin-right:30px;height:565.2px;}
#visual04 .chal:hover {background:#fdc743;color: black;}
#visual04 .chal figure {margin:15px 15px;}
#visual04 .chal figure img {width:100%}
#visual04 .chal h3 {display:flex;justify-content:space-between;font-family:'neon';font-size:18px;margin-bottom:10px;position:relative;margin:15px;}
#visual04 .chal p {margin:15px;line-height:22px;font-weight:100;}
#visual04 .chal strong {font-size:14px;font-family:'Noto Sans KR';}
/* 4단 찰스 */

/* 4단 에릭 */
#visual04 .erick {width:370px;background:#062f87;color:#fff;text-align:left;
    margin-right:30px;height:565.2px;}
#visual04 .erick:hover {background:#fdc743;color: black;}
#visual04 .erick figure {margin:15px 15px;}
#visual04 .erick figure img {width:100%}
#visual04 .erick h3 {display:flex;justify-content:space-between;font-family:'neon';font-size:18px;margin-bottom:10px;
position:relative;margin:15px;}
#visual04 .erick p {margin:15px;line-height:22px;font-weight:100;}
#visual04 .erick strong {font-size:14px;font-family:'Noto Sans KR';}
/* 4단 에릭 */

/* 4단 슬릭 버튼 */
#visual04 .slick-dots {display:flex;justify-content:center;}
#visual04 .slick-dots li {width:10px;height:10px;border-radius:50%;
    background:#666;margin:30px 4px;}
#visual04 .slick-dots li.slick-active {background:#f00;}
#visual04 .slick-dots li button {display:none;}
/* 4단 슬릭 버튼 */

/* --------------- 4단 내용 끝 --------------- */

/* --------------- 5단 시작 --------------- */
#visual05 {background:#f7f7f7;padding:50px 0 200px 0;}
#visual05 .main_text {width:1200px;margin:0 auto;padding:15px 0;text-align:center;}
#visual05 .main_text h2 {font-family:'neon';font-size:24px;}
#visual05 .main_text h2:after {content:"";display:block;width:60px;height:2px;background:#062f87;margin:10px auto;}
#visual05 .main_text p {margin-bottom:15px;}

#visual05 .container {width:1200px;margin:0 auto;text-align:center;color:#fff;padding:50px 0 100px 0;}
#visual05 .figure1 {display:flex;margin-bottom:30px;text-align:center;}
#visual05 .figure1 figure {margin:0 15px;width:370px;height:370px;}

#visual05 .container {width:1200px;margin:0 auto;text-align:center;color:#fff;padding:50px 0 100px 0;}
#visual05 .figure2 {display:flex;margin-bottom:15px;text-align:center;}
#visual05 .case img {margin:0 15px;width:370px;height:370px;}
#visual05 .review04 {position:relative;}
#visual05 .review04:hover {position:absolute;background:#333;margin:0 15px;}
/* --------------- 5단 내용 끝 --------------- */

/* --------------- 푸터 내용 시작 --------------- */
#footer {background:#333;color:#f4f4f4;font-weight:300;}
#footer .pethroom {display:flex;justify-content:space-between;width:1200px;margin:0 auto;line-height:20px;padding:60px 0 20px 0;position: relative;
line-height:1.6em;position: relative;}
#footer .pethroom ul>li>a {margin:50px 0; font-weight:100;}
#footer .line {position:absolute;display:block;top:0;right:0;width:1;height:15px;background:#f00;}

#footer hr {border:none;border-top:1px solid #666;}
#footer .customer_link:after {content:"소개";position:absolute;top:10%;width:0;display:block;width:70px;height:2px;font-size:18px;}
#footer .product:after {content:"제품";position:absolute;top:10%;width:0;display:block;width:70px;height:2px;font-size:18px;}
#footer .Review:after {content:"리뷰";position:absolute;top:10%;width:0;display:block;width:70px;height:2px;font-size:18px;}
#footer .cscenter:after {content:"고객센터";position:absolute;top:10%;width:0;display:block;width:70px;height:2px;font-size:18px;}
#footer .partner:after {content:"파트너";position:absolute;top:10%;width:0;display:block;width:70px;height:2px;font-size:18px;}

/* --------------- 푸터 아랫단 --------------- */
#footer .pethroom2 {display:flex;justify-content:space-between;width:1200px;margin:0 auto;line-height:20px;padding:20px 0 50px 0;
position:relative;}

#footer .pethroom2 h2 {font-size:20px;font-weight:500;line-height:1.5em;}
#footer .pethroom2 strong {font-weight:100;font-size:12px;}
#footer .pethroom2 ul {display:flex;}


#footer .call p {font-size:12px;font-weight:100;}
#footer .address p {font-size:12px;font-weight:100;}
#footer .address ul>li {font-size:12px;font-weight:100;padding:0 10px 0 0;}

#footer {position:relative;}
#footer figure {position:absolute;top:25px;left:55px;}
#footer figure img {width:255px;height:28px;}

#footer .sns {position:absolute;top:255px;left:50px;font-size:20px;}
#footer .sns select {margin:15px 0;background:#333;font-size:14px;font-weight:100;width:150px;height:28px;}
/* --------------- 푸터 내용 시작 --------------- */
