*{outline:1px solid #f00;}*/
.wrap {min-width:95rem;}
html {font-size:20px;}
body {font-size:0.8rem;}

.container {display:flex;width:60rem;margin:0 auto;}
.container_ {width:60rem;margin:0 auto;}
.m_br {display:none;}

/* ----------------------------------------- 메인 배너 -----------------------------------------  */

.top_benner {display:flex;background:#f1f1f1;line-height:2;width:100%;}
.top_benner .left {width:50%;}
.top_benner .left ul {display:flex;}
.top_benner .left ul>li {display:flex;}
.top_benner .right {width:50%;}
.top_benner .right ul {display:flex;justify-content:right;}
.top_benner .right ul>li {display:flex;}

/* ----------------------------------------- 메인 배너 -----------------------------------------  */

.bottom_banner .left img {width:8.5rem;}
.bottom_banner .left {width:25%;}
.bottom_banner .center {width:50%;}
.bottom_banner .right {width:25%;}

/* ----------------------------------------- 푸터 -----------------------------------------  */

.mopen {display:none;}

















/* ----------------------------------------- 여기서부터 반응형 -----------------------------------------  */