*{outline:1px solid #f00;}*/
.wrap {min-width:95rem;}
html {font-size:20px;}
body {font-size:0.8rem;}

:root {
    --mc:#FAAE67;
    --sc:#D65490;
    --lc:#fff;
    --dc:#444444;
    --dd:#ddd;
}

@font-face { font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url(path/to/MaterialIcons-Regular.eot); /* For IE6-8 */ src: local('Material Icons'), local('MaterialIcons-Regular'), url(path/to/MaterialIcons-Regular.woff2) format('woff2'), url(path/to/MaterialIcons-Regular.woff) format('woff'), url(path/to/MaterialIcons-Regular.ttf) format('truetype'); }

.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; /* Preferred icon size */ display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */ -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */ text-rendering: optimizeLegibility; /* Support for Firefox. */ -moz-osx-font-smoothing: grayscale; /* Support for IE. */ font-feature-settings: 'liga'; }

.container {display:flex;width:60rem;margin:0 auto;padding:0 0.75rem;}
.container_ {width:60rem;margin:0 auto;padding:0 0.75rem;}
.m_br {display:none;}

/* ----------------------------------------- 메인 배너 -----------------------------------------  */

.top_benner {display:flex;line-height:2.1;width:100%;border-bottom:1px solid #f1f1f1;}
.top_benner .left {width:50%;}
.top_benner .left ul {display:flex;}
.top_benner .right {width:50%;}
.top_benner .right ul {display:flex;justify-content:right;}
.top_benner .right ul>li {padding-left:0.75rem;}

/* ----------------------------------------- 메인 배너 -----------------------------------------  */

.bottom_banner {line-height:4;}
.bottom_banner .left img {width:10rem;padding:1.2rem 0;}
.bottom_banner .left {margin-right:2rem;}

.bottom_banner .right {width:100%;}
.bottom_banner .right .gnb {background:#ff0;}
.bottom_banner .menu_title {float:left;font-size:1rem;font-weight:400;z-index:999;}
.bottom_banner .right .menu_title>li {position:relative;float:left;width:6.03rem;text-align:center;}

.bottom_banner .right .menu_title ul {display:none;line-height:2.2;}
.bottom_banner .right .menu_title li:hover .deep01 {display:block;}
.bottom_banner .right .deep01 {position:absolute;left:0rem;top:3.8rem;z-index:999;background:var(--dd);}
.bottom_banner .right .deep01>li {width:11rem;padding:0 1.5rem;text-align:left;font-size:0.85rem;position:relative;}
.bottom_banner .right .deep01>li:hover .deep02 {display:block;}

.bottom_banner .right .deep02 {position:absolute;top:0;left:11.11rem;width:12rem;z-index:1000;background:var(--lc);}
.bottom_banner .right .deep02>li {padding:0 1.5rem;z-index:1000;}

/*------------------------ menu_title 메뉴1, deep01 소메뉴, depp02 2단 소메뉴 ------------------------*/
/*------------------------ 강좌에서는 main1 메뉴1, main2 소메뉴, main3 2단 소메뉴 ------------------------*/

/* ----------------------------------------- 1단 슬라이드 -----------------------------------------  */

.main_slider {width:100%;height:calc(100vh - 15rem);background:#ddd;position:relative;z-index:-1;}

.popup {display:block;width:100%;position:absolute;bottom:3.8rem;left:50%;transform:translate(-50%,-50%);background:#999;z-index:0;height:11rem;}
.popup.on {display:none;}
.popup .container {position:relative;color:#fff;}
.popup .container .flex {display:flex;}
.popup .container .left {background:#999;width:30rem;height:11rem;padding:2rem 3rem;}
.popup .container .left .case {display:flex;align-items:center;}
.popup .container .left .case h3 {font-size:1rem;font-weight:500;line-height:1.2rem;padding-bottom:0.25rem;}
.popup .container .left .case p {line-height:1.2rem;padding-bottom:0.3rem;}
.popup .container .left .case .p_01 {display:block;width:5rem;height:5rem;margin-right:2rem;text-indent:-9999rem;border-radius:50%;
    background:url(../img/ccu30_signature_ke2.jpg);}
.popup i.xi-close {position:absolute;top:6%;right:1%;color:#fff;font-size:1.2rem;}

.popup .container .right {width:30rem;height:12rem;padding:2rem 3rem;}
.popup .container .right .case {display:flex;align-items:center;}
.popup .container .right .case h3 {font-size:1rem;font-weight:500;line-height:1.2rem;padding-bottom:0.25rem;}
.popup .container .right .case .p_02 {display:block;width:5rem;height:5rem;margin-right:2rem;text-indent:-9999rem;border-radius:50%;
    background:url(../img/ccu30_signature_ke2.jpg);}
.popup .container .right .case p {line-height:1.2rem;padding-bottom:0.3rem;}
.popup .container .right {background:#999;width:30rem;height:11rem;}
.popup .flex i {cursor:pointer;font-size:1rem;color:#fff;}

.popup .left a {display:block;}
.popup .left span {display:inline-block;width:0;overflow:hidden;white-space:nowrap;transition:0.5s;}
.popup .left:hover span {width:5rem;}

.popup .right a {display:block;}
.popup .right span {display:inline-block;width:0;overflow:hidden;white-space:nowrap;transition:0.5s;}
.popup .right:hover span {width:5rem;}

.p_slider .slick-dots {position:absolute;bottom:1.5rem;left:0;width:100%;text-align:center;z-index:1;}
.p_slider .slick-dots li {display:inline-block;width:0.5rem;height:0.5rem;background:#fff;overflow:hidden;margin:0 0.3rem;border-radius:50%;}
.main_slider .slick-dots li button {display:none;}

.p_slider .slick-dots li::after {content:"";display:block;width:0;height:100%;background:#2573c5;}
.p_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}


/* ----------------------------------------- 빠른 메뉴 -----------------------------------------  */

.quick_menu .container ul {display:flex;}
.quick_menu .container ul>li {width:6.5rem;padding:0 0.75rem;text-align:center;}
.quick_menu .container ul>li i {font-size:1.5rem;margin:1.5rem 0;}
.quick_menu .container ul>li p {font-size:0.85rem;font-weight:400;padding-bottom:1.5rem;}




/* ----------------------------------------- 2단 달력 -----------------------------------------  */

.canlendar {position: relative;width:100%;height:35rem;background:url(../img/bg01.png) no-repeat top center/cover}
.canlendar .txt {padding:3rem 0;text-align:center;}
.canlendar .txt p {font-size:1rem;font-weight:300;margin-bottom:0.8rem;}
.canlendar .txt h2 {font-size:1.5rem;font-weight:400;}
.canlendar .txt span {font-weight:700;}
.canlendar .txt strong {font-weight:500;}
.canlendar .img p {line-height:1.3;}

.canlendar .container {background:#fff;position:absolute;top:62%;left:50%;transform:translate(-50%,-50%);border-bottom:1px solid #ddd;}
.canlendar .container h3 {font-size:1.2rem;margin-bottom:1.5rem;}
.canlendar .container i {float:right;}

.canlendar .left {width:70%;padding:2rem 1rem 1rem 1rem;}
.canlendar .left figure {width:48%;}
.canlendar .left .img {display:flex;}
.canlendar .left .img .left_figure {margin-right:1.5rem;}
.canlendar .container .left:hover {rotate:(90deg);}

.canlendar .right {width:30%;padding:2rem 1rem 1.5rem;}
.canlendar .container .flex {display:flex;margin:1rem 0;}

.canlendar .left_figure h4 {font-size:0.9rem;font-weight:500;line-height:1;padding:0.75rem 0 0.5rem 0;}
.canlendar .right_figure h4 {font-size:0.9rem;font-weight:500;line-height:1;padding:0.75rem 0 0.5rem 0;}

.canlendar .right_figure h4 {display:block;width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.canlendar .img p {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.schedule .left_sc {background:#999;width:4rem;height:3.7rem;border-radius:0.5rem 0 0.5rem 0;}
.schedule .left_sc h4 {font-size:1.3rem;font-weight:700;text-align:center;line-height:1;padding:0.5rem 0 0.3rem 0;}
.schedule .left_sc p {text-align:center;font-size:0.7rem;}

.schedule .right_sc {padding:0.5rem 0.75rem}
.schedule .right_sc h4 {font-size:0.9rem;font-weight:500;display:block;width:90%;white-space:pre-wrap;overflow:hidden;
padding-bottom:0.4rem;text-overflow:ellipsis;}
.schedule .right_sc p {font-size:0.75rem;}


/* ----------------------------------------- 3단 공지 -----------------------------------------  */

.customer {background:url(../img/bg02.png) no-repeat bottom center/cover;width:100%;height:20rem;position:relative;height:25rem;}
.customer .container {background:#fff;padding:2.5rem 0.75rem;position:absolute;top:0;left:50%;transform:translateX(-50%);}
.customer .left {width:48%;padding:0 1rem;}
.customer .left>ul>li {font-size:1rem;}
.customer .left>ul>li:nth-child(2) {padding-left:1.5rem;}
.customer .left i {float:right;}

.customer .tab_menu {display:flex;width:100%;cursor:pointer;}
.customer .tab_menu>li {color:#999;font-weight:400;margin:0 0 1rem 0;opacity:0.7;}
.customer .tab_menu>li::after {content:"";display:none;width:4rem;height:0.15rem;background:#000;margin-top:0.4rem;}
.customer .tab_menu>li.on::after {display:block;}
.customer .tab_menu>li.on {color:#000;font-weight:500;opacity:1;}

.customer .tab_content {position:relative;}

.customer .tab_content .on ul>li a::after {content:"";display:block;position:absolute;top:0;top:0;width:100%;height:0.1rem;background:var(--dc);}
.customer .tab_content .on ul>li a {position:relative;}
.customer .tab_content .txt>li a {display:block;overflow:hidden;}
.customer .tab_content .txt>li strong {display:block;float:right;font-size:0.7rem;line-height:2rem;}
.customer .tab_content .txt>li span {display:block;float:left;width:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:2rem;}
.customer .tab_content>div {visibility:hidden;position:absolute;top:0;left:0;width:100%;height:100%;}
.customer .tab_content>div.on {visibility:visible;}


.customer .right {width:48%;padding:0 1rem;}
.customer .right .con01 {background:url(../img/news01.jpg) no-repeat center center/cover;width:100%;height:15rem;}
.customer .right .con02 {background:url(../img/news02.jpg) no-repeat center center/cover;width:100%;height:15rem;}
.customer .right .con03 {background:url(../img/news01.jpg) no-repeat center center/cover;width:100%;height:15rem;}
.customer .right .con04 {background:url(../img/news02.jpg) no-repeat center center/cover;width:100%;height:15rem;}

.n_slider .slick-dots {position:absolute;bottom:1.2rem;left:0;width:100%;text-align:center;z-index:1;}
.n_slider .slick-dots li {display:inline-block;width:0.5rem;height:0.5rem;background:#fff;overflow:hidden;margin:0 0.3rem;border-radius:50%;}
.n_slider .slick-dots li button {display:none;}

.n_slider .slick-dots li::after {content:"";display:block;width:0;height:100%;background:transparent;}
.n_slider .slick-dots li.slick-active:after {width:100%;border:1px solid #000;border-radius:50%;}


/* ----------------------------------------- 4단 연혁 -----------------------------------------  */

.history {text-align:center;margin:3rem 0;}
.history h2 {font-size:1.5rem;margin-bottom:0.75rem;}
.history span {font-weight:700;}
.history p {font-size:0.9rem;line-height:1.2rem;margin-bottom:1.5rem;}
.history strong {font-weight:500;}

.history .top {align-items:center;}
.history .top h3 {margin-left:1rem;text-align:left;}

.history .container ul {display:flex;}
.history .container ul>li {width:390px;}

.history .top {display:flex;justify-content:center;line-height:1.2;}
.history .bottom {font-size:0.9rem;font-weight:500;margin:1rem 0;}
.history .counter {font-size:1.8rem;font-weight:700;}

/* ----------------------------------------- 푸터 -----------------------------------------  */

.sns {background:#ddd;padding:3rem 0}
.sns .container_ {position:relative;}
.sns h2 {font-size:1.5rem;font-weight:500;padding-bottom:1.5rem;position:relative;}
.sns .sns_icon {display:flex;position:absolute;top:0;right:1.5%;font-size:1rem;}
.sns .sns_icon>li~li {margin-left:0.5rem;}
.sns .sns_icon>li {padding:0.4rem;background:#ddd;border-radius:50%;}

.sns figure {position:relative;}

.sns .figure i {position:absolute;top:3%;right:3%;padding:0.4rem;background:#fff;border-radius:50%;font-size:1rem;}
.s_slider {overflow:hidden;height:14.5rem;}

.s_slider .con02 {margin:0 1.5rem;}
.s_slider .con04 {margin:0 1.5rem;}
.s_slider .con06 {margin:0 1.5rem;}

.s_slider .txt {padding:1.2rem 1.2rem;background:#fff;}
.s_slider .txt h3 {width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.s_slider .slick-dots li button {display:none;}


/* ----------------------------------------- 푸터 -----------------------------------------  */

.footer {width:100%;background:#111;padding:2rem 0;color:#fff;}
.footer .left img {width:10rem;}

.footer .left {margin-right:2.3rem;}

.footer .center .top {display:block;font-size:0.8rem;font-weight:400;}
.footer .center .top ul>li {padding:0 1.1rem;}
.footer .center .top ul {display:flex;}
.footer .center .bottom {padding:0 1.1rem;margin-top:1.2rem;line-height:1.5rem;}
.footer .center .bottom ul {display:flex;}

.footer .right img {width:6rem;margin-left:2.3rem;}

.scroll_banner ul {position:fixed;top:30%;right:8rem;}
.scroll_banner ul>li {background:#666;border-radius:50%;width:3rem;height:3rem;line-height:3rem;text-align:center;margin-top:1rem;}

.mopen {display:none;position:fixed;top:1.5rem;right:0.5rem;width:3rem;height:3rem;line-height:1;font-size:2rem;
    padding:0.5rem;background:#fff;}





















/* ----------------------------------------- 여기서부터 반응형 -----------------------------------------  */

    













    @media (max-width:768px){

    html {font-size:16px;}
    body {font-size:0.8rem;}

    .container {display:flex;width:auto;margin:0 auto;padding:0 0.75rem;}
    .container_ {width:auto;margin:0 auto;padding:0 0.75rem;}
    .m_br {display:none;}

    /* ----------------------------------------- 반응형 메인 배너 -----------------------------------------  */

    .top_benner {line-height:2.1;width:30rem;border-bottom:1px solid #f1f1f1;overflow:hidden;}
    .top_benner .left {width:100%;}
    .top_benner .left ul {display:flex;}
    .top_benner .right {width:50%;}
    .top_benner .right ul {display:flex;justify-content:right;}
    .top_benner .right ul>li {padding-left:0.75rem;}

    /* ----------------------------------------- 반응형 메인 배너 -----------------------------------------  */

    .bottom_banner {line-height:4;}
    .bottom_banner .left img {position:fixed;top:0;left:1%;width:10rem;margin:0.75rem;z-index:1000;}
    .bottom_banner .left {margin-right:1rem;}

    .bottom_banner .right {width:100%;}
    .bottom_banner .right .gnb {background:#ff0;}
    nav {position:fixed;top:0;left:-100%;width:100%;height:100vh;background:#fff;border-right:1px solid #333;
    overflow:hidden;transition:0.5s;z-index:1;}
    nav.on {left:0;}

    .bottom_banner .menu_title {display:flex;flex-flow:column wrap;height:100vh;padding:6rem 0;
        font-size:1rem;font-weight:400;z-index:999;}
    .bottom_banner .right .menu_title>li {position:relative;text-align:left;width:12.35rem;font-size:1.2rem;font-weight:500;
    padding-left:2rem;}

    .bottom_banner .right .menu_title ul {display:block;line-height:2.2;}
    .bottom_banner .right .menu_title li:hover .deep01 {display:none;}
    .bottom_banner .right .deep01 {position:absolute;left:12.1rem;top:3.8rem;z-index:999;background:var(--dd);}
    .bottom_banner .right .deep01>li {display:none;width:100%;
    padding:0 1.5rem;text-align:left;font-size:0.85rem;position:relative;}
    .bottom_banner .right .deep01>li.on .deep02 {display:block;}
    .bottom_banner .right .deep01>li:hover .deep02 {display:none;}

    .bottom_banner .right .deep02 {display:none;position:fixed;top:0;left:11.11rem;width:12rem;z-index:1000;background:var(--lc);}
    .bottom_banner .right .deep02>li {display:none;padding:0 1.5rem;z-index:1000;}

    /*------------------------ menu_title 메뉴1, deep01 소메뉴, depp02 2단 소메뉴 ------------------------*/
    /*------------------------ 강좌에서는 main1 메뉴1, main2 소메뉴, main3 2단 소메뉴 ------------------------*/

    /* ----------------------------------------- 반응형 1단 슬라이드 -----------------------------------------  */

    .main_slider {width:100%;height:calc(100vh - 15rem);background:#ddd;position:relative;z-index:-1;}

    .popup {display:block;width:100%;position:absolute;bottom:3.8rem;left:50%;transform:translate(-50%,-50%);background:#999;z-index:0;height:11rem;}
    .popup.on {display:none;}
    .popup .container {position:relative;color:#fff;}
    .popup .container .flex {display:block;}
    .popup .container .left {background:#999;width:auto;height:11rem;padding:2rem 3rem;}
    .popup .container .left .case {display:flex;align-items:center;}
    .popup .container .left .case h3 {font-size:1rem;font-weight:500;line-height:1.2rem;padding-bottom:0.25rem;}
    .popup .container .left .case p {line-height:1.2rem;padding-bottom:0.3rem;}
    .popup .container .left .case .p_01 {display:block;width:5rem;height:5rem;margin-right:2rem;text-indent:-9999rem;border-radius:50%;
        background:url(../img/ccu30_signature_ke2.jpg);}
    .popup i.xi-close {position:absolute;top:6%;right:1%;color:#fff;font-size:1.2rem;}

    .popup .container .right {width:auto;height:12rem;padding:2rem 3rem;overflow: hidden;}
    .popup .container .right .case {display:flex;align-items:center;}
    .popup .container .right .case h3 {font-size:1rem;font-weight:500;line-height:1.2rem;padding-bottom:0.25rem;}
    .popup .container .right .case .p_02 {display:block;width:5rem;height:5rem;margin-right:2rem;text-indent:-9999rem;border-radius:50%;
        background:url(../img/ccu30_signature_ke2.jpg);}
    .popup .container .right .case p {line-height:1.2rem;padding-bottom:0.3rem;}
    .popup .container .right {background:#999;width:50%;height:11rem;}
    .popup .flex i {cursor:pointer;font-size:1rem;color:#fff;}

    .popup .left a {display:block;}
    .popup .left span {display:inline-block;width:0;overflow:hidden;white-space:nowrap;transition:0.5s;}
    .popup .left:hover span {width:5rem;}

    .popup .right a {display:block;}
    .popup .right span {display:inline-block;width:0;overflow:hidden;white-space:nowrap;transition:0.5s;}
    .popup .right:hover span {width:5rem;}

    .p_slider .slick-dots {position:absolute;bottom:1.5rem;left:0;width:100%;text-align:center;z-index:1;}
    .p_slider .slick-dots li {display:inline-block;width:0.5rem;height:0.5rem;background:#fff;overflow:hidden;margin:0 0.3rem;border-radius:50%;}
    .main_slider .slick-dots li button {display:none;}

    .p_slider .slick-dots li::after {content:"";display:block;width:0;height:100%;background:#2573c5;}
    .p_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}


    /* ----------------------------------------- 반응형 빠른 메뉴 -----------------------------------------  */

    .quick_menu .container ul {display:flex;flex-wrap:wrap;}
    .quick_menu .container ul>li {width:6.5rem;padding:0 0.75rem;text-align:center;}
    .quick_menu .container ul>li i {font-size:1.5rem;margin:1.5rem 0;}
    .quick_menu .container ul>li p {font-size:0.85rem;font-weight:400;padding-bottom:1.5rem;}




    /* ----------------------------------------- 반응형 2단 달력 -----------------------------------------  */

    .canlendar {position: relative;width:100%;height:auto;background:url(../img/bg01.png) no-repeat top center/cover}
    .canlendar .txt {padding:3rem 0;text-align:center;}
    .canlendar .txt p {font-size:1rem;font-weight:300;margin-bottom:0.8rem;}
    .canlendar .txt h2 {font-size:1.5rem;font-weight:400;}
    .canlendar .txt span {font-weight:700;}
    .canlendar .txt strong {font-weight:500;}
    .canlendar .img p {line-height:1.3;}

    .canlendar .container {background:#fff;position:absolute;top:62%;left:50%;transform:translate(-50%,-50%);border-bottom:1px solid #ddd;}
    .canlendar .container h3 {font-size:1.2rem;margin-bottom:1.5rem;}
    .canlendar .container i {float:right;}

    .canlendar .left {width:70%;padding:2rem 1rem 1rem 1rem;}
    .canlendar .left figure {width:48%;}
    .canlendar .left .img {display:flex;}
    .canlendar .left .img .left_figure {margin-right:1.5rem;}
    .canlendar .container .left:hover {rotate:(90deg);}

    .canlendar .right {width:30%;padding:2rem 1rem 1.5rem;}
    .canlendar .container .flex {display:flex;margin:1rem 0;}

    .canlendar .left_figure h4 {font-size:0.9rem;font-weight:500;line-height:1;padding:0.75rem 0 0.5rem 0;}
    .canlendar .right_figure h4 {font-size:0.9rem;font-weight:500;line-height:1;padding:0.75rem 0 0.5rem 0;}

    .canlendar .right_figure h4 {display:block;width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    .canlendar .img p {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

    .schedule .left_sc {background:#999;width:4rem;height:3.7rem;border-radius:0.5rem 0 0.5rem 0;}
    .schedule .left_sc h4 {font-size:1.3rem;font-weight:700;text-align:center;line-height:1;padding:0.5rem 0 0.3rem 0;}
    .schedule .left_sc p {text-align:center;font-size:0.7rem;}

    .schedule .right_sc {padding:0.5rem 0.75rem}
    .schedule .right_sc h4 {font-size:0.9rem;font-weight:500;display:block;width:90%;white-space:pre-wrap;overflow:hidden;
    padding-bottom:0.4rem;text-overflow:ellipsis;}
    .schedule .right_sc p {font-size:0.75rem;}


    /* ----------------------------------------- 반응형 3단 공지 -----------------------------------------  */

    .customer {background:url(../img/bg02.png) no-repeat bottom center/cover;width:100%;height:20rem;position:relative;height:25rem;}
    .customer .container {background:#fff;padding:2.5rem 0.75rem;position:absolute;top:0;left:50%;transform:translateX(-50%);}
    .customer .left {width:48%;padding:0 1rem;}
    .customer .left>ul>li {font-size:1rem;}
    .customer .left>ul>li:nth-child(2) {padding-left:1.5rem;}
    .customer .left i {float:right;}

    .customer .tab_menu {display:flex;width:100%;cursor:pointer;}
    .customer .tab_menu>li {color:#999;font-weight:400;margin:0 0 1rem 0;opacity:0.7;}
    .customer .tab_menu>li::after {content:"";display:none;width:4rem;height:0.15rem;background:#000;margin-top:0.4rem;}
    .customer .tab_menu>li.on::after {display:block;}
    .customer .tab_menu>li.on {color:#000;font-weight:500;opacity:1;}

    .customer .tab_content {position:relative;}

    .customer .tab_content .on ul>li a::after {content:"";display:block;position:absolute;top:0;top:0;width:100%;height:0.1rem;background:var(--dc);}
    .customer .tab_content .on ul>li a {position:relative;}
    .customer .tab_content .txt>li a {display:block;overflow:hidden;}
    .customer .tab_content .txt>li strong {display:block;float:right;font-size:0.7rem;line-height:2rem;}
    .customer .tab_content .txt>li span {display:block;float:left;width:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:2rem;}
    .customer .tab_content>div {visibility:hidden;position:absolute;top:0;left:0;width:100%;height:100%;}
    .customer .tab_content>div.on {visibility:visible;}


    .customer .right {width:48%;padding:0 1rem;}
    .customer .right .con01 {background:url(../img/news01.jpg) no-repeat center center/cover;width:100%;height:15rem;}
    .customer .right .con02 {background:url(../img/news02.jpg) no-repeat center center/cover;width:100%;height:15rem;}
    .customer .right .con03 {background:url(../img/news01.jpg) no-repeat center center/cover;width:100%;height:15rem;}
    .customer .right .con04 {background:url(../img/news02.jpg) no-repeat center center/cover;width:100%;height:15rem;}

    .n_slider {width:10rem;height:auto;}
    .n_slider .slick-dots {position:absolute;bottom:1.2rem;left:0;width:100%;text-align:center;z-index:1;}
    .n_slider .slick-dots li {display:inline-block;width:0.5rem;height:0.5rem;background:#fff;overflow:hidden;margin:0 0.3rem;border-radius:50%;}
    .n_slider .slick-dots li button {display:none;}

    .n_slider .slick-dots li::after {content:"";display:block;width:0;height:100%;background:transparent;}
    .n_slider .slick-dots li.slick-active:after {width:100%;border:1px solid #000;border-radius:50%;}


    /* ----------------------------------------- 반응형 4단 연혁 -----------------------------------------  */

    .history {text-align:center;margin:3rem 0;}
    .history h2 {font-size:1.5rem;margin-bottom:0.75rem;}
    .history span {font-weight:700;}
    .history p {font-size:0.9rem;line-height:1.2rem;margin-bottom:1.5rem;}
    .history strong {font-weight:500;}

    .history .top {align-items:center;}
    .history .top h3 {margin-left:1rem;text-align:left;}

    .history .container ul {display:flex;flex-flow:column;}
    .history .container ul>li {width:390px;}

    .history .top {display:flex;justify-content:center;line-height:1.2;}
    .history .bottom {font-size:0.9rem;font-weight:500;margin:1rem 0;}
    .history .counter {font-size:1.8rem;font-weight:700;}

    /* ----------------------------------------- 반응형 푸터 -----------------------------------------  */

    .sns {background:#ddd;padding:3rem 0}
    .sns .container_ {position:relative;}
    .sns h2 {font-size:1.5rem;font-weight:500;padding-bottom:1.5rem;position:relative;}
    .sns .sns_icon {display:flex;position:absolute;top:0;right:1.5%;font-size:1rem;}
    .sns .sns_icon>li~li {margin-left:0.5rem;}
    .sns .sns_icon>li {padding:0.4rem;background:#ddd;border-radius:50%;}

    .sns figure {position:relative;}

    .sns .figure i {position:absolute;top:3%;right:3%;padding:0.4rem;background:#fff;border-radius:50%;font-size:1rem;}
    .s_slider {overflow:hidden;height:14.5rem;}

    .s_slider .con02 {margin:0 1.5rem;}
    .s_slider .con04 {margin:0 1.5rem;}
    .s_slider .con06 {margin:0 1.5rem;}

    .s_slider .txt {padding:1.2rem 1.2rem;background:#fff;}
    .s_slider .txt h3 {width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    .s_slider .slick-dots li button {display:none;}


    /* ----------------------------------------- 반응형 푸터 -----------------------------------------  */

    .footer {width:100%;background:#111;padding:2rem 0;color:#fff;}
    .footer .left img {width:10rem;}

    .footer .left {margin-right:2.3rem;}

    .footer {display:inline-block;}
    .footer .center .top {display:block;font-size:0.8rem;font-weight:400;}
    .footer .center .top ul>li {padding:0 1.1rem;}
    .footer .center .top ul {display:flex;}
    .footer .center .bottom {padding:0 1.1rem;margin-top:1.2rem;line-height:1.5rem;}
    .footer .center .bottom ul {display:flex;}

    .footer .right img {width:6rem;margin-left:2.3rem;}

    .scroll_banner ul {position:fixed;top:30%;right:8rem;}
    .scroll_banner ul>li {background:#666;border-radius:50%;width:3rem;height:3rem;line-height:3rem;text-align:center;margin-top:1rem;}

    .mopen {display:block;position:fixed;top:1.5rem;right:0.5rem;width:3rem;height:3rem;line-height:1;font-size:2rem;
        padding:0.5rem;background:#fff;}
    }