:root {
    --mc:#FAAE67;
    --sc:#D65490;
    --lc:#f7f7f7;
    --dc:#444444;
    --gc:#dddddd;
}

html {font-size:20px;}
body {font-size:0.8rem;color:var(--dc);}

#Wrap {min-width:95rem;}

#header h1 {position:fixed;top:3rem;left:3rem;z-index:999;}
#header h1 a {display:block;width:15rem;}

#header nav {position:fixed;top:50%;right:3rem;transform:translateY(-50%);z-index:999;}
#header .cover_btn {position:fixed;top:3rem;right:3rem;z-index:999;}
#header .cover_btn i {font-size:1.5rem;padding:.5rem;background:var(--lc)}

#header nav li a {position:relative;display:block;width:3rem;height:1rem;text-indent:-99999px;}
#header nav li a:after {content:"";position:absolute;top:0.35rem;right:0;display:block;width:40%;height:0.2rem;background:var(--dc);border-radius:0.15rem;transition:0.3s;}
#header nav li.on a:after {width:70%;}
