body {color:#444;}
.container {width:1200px;margin:0 auto;}
#header .container {display:flex;padding:10px 0;}
#header h1 {padding:20px 15px;}
#header nav {margin-left:auto;padding:0 15px;}
#header nav>ul {display:flex;line-height:100px;}
#header nav>ul>li {padding:0 15px;}
#header .센트레빌 {padding:0 15px;line-height:100px;color:#009c84;}
#header .센트레빌 {border:1px solid #009c84;padding:2px 20px 5px 20px;}
#header .동부채용건설 {padding:0 15px;line-height:100px;color:#009c84;}
#header .동부채용건설 {border:1px solid #009c84;padding:0 20px;}

#visual {position:relative;}
#visual .main_slider img {width:100%}
#visual .slogan {position:absolute;top:200px;left:50%;width:1200px;transform:translateX(-50%);padding:0 15px;color:#200202;}
#visual .slogan h2 {font-size:30px;font-weight:900;margin-bottom:30px;}
#visual .slogan p {font-size:20px;font-weight:300;}

.logo img {width:120px;}
.logo nav {margin:auto;padding:0 15px;}
.logo nav>ul {display:flex;line-height:50px;background-color:#200202;}
.logo nav>ul >li {font-size:10px;font-weight:10;margin-right:20px;color:#fff;}